<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="language" content="en">

        <!-- Website Title -->
        <title>Contact Us - Rooobz Cars</title>

        <!-- Icon -->
        <link rel="shortcut icon" href="https://project.reubz.io/imgs/logo.png" type="image/x-icon">

        <!-- Primary Tags -->
        <meta name="title" content="Contact Us - Rooobz Cars">
        <meta name="description" content="Need additional information? Get in touch now!">
            

        <!-- Open Graph / Facebook / Insta -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://project.reubz.io/contact">
        <meta property="og:title" content="Contact Us - Rooobz Cars">
        <meta property="og:description" content="Need additional information? Get in touch now!">
        <meta property="og:image" itemprop="image" content="https://project.reubz.io/imgs/logo-with-text.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://project.reubz.io/contact">
        <meta property="twitter:title" content="Contact Us - Rooobz Cars">
        <meta property="twitter:description" content="Need additional information? Get in touch now!">
        <meta property="twitter:image" content="https://project.reubz.io/imgs/logo-with-text.png">

        <!-- For Discord Embeds -->
        <meta content="#FF4C30" data-react-helmet="true" name="theme-color" />
        
        <link rel="stylesheet" href="/css/contact.css">

        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        
        <!-- Fontawesome Link -->
        <!-- <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script> -->
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    </head>
<body>
    <header data-include="navbar"></header>
    
    <section class="data-wrapper">
        <section data-include="title-banner?title=Contact%20Us&description=Home%20/%20Contact"></section>
        <section class="main-data">
            <!-- ! Contact Us Container -->
            <section id="contact-us-container">
                <div class="data-wrapper">
                    <div class="left-wrapper">
                        <div class="sub-title">Get in touch now!</div>
                        <div class="title">Need additional information?</div>
                        <div class="description">Your Premier Choice for Car Rentals. We've been delivering exceptional service and quality vehicles for 10 years.</div>
                        <a href="tel:0123456789" class="phone-number highlight-link">
                            <i class="fa-light fa-phone-volume fa-lg"></i> (+91) 012 345 6789
                        </a>
                        <a href="mailto:contact@rooobzcars.com" class="email highlight-link">
                            <i class="fa-light fa-envelope fa-lg"></i> contact@rooobzcars.com
                        </a>
                    </div>
                    <div class="right-wrapper">
                        <form id="contact-us-form" action="">
                            <div class="form-element">
                                <label for="name">Full Name <span>*</span></label>
                                <input type="text" name="name" id="name" placeholder="Reubz Rizzly">
                            </div>
                            <div class="form-element">
                                <label for="email">Email <span>*</span></label>
                                <input type="email" name="email" id="email" placeholder="rizzly.reubz@rooobzcars.com">
                            </div>
                            <div class="form-element">
                                <label for="phone">Email <span>*</span></label>
                                <input type="phone" name="phone" id="phone" placeholder="012 345 678">
                            </div>
                            <div class="form-element">
                                <label for="message">Tell us about it <span>*</span></label>
                                <textarea type="text" name="message" id="message" rows="6" placeholder="Hey..."></textarea>
                            </div>

                            <button type="submit" id="submit">Send Message</button>
                        </form>
                    </div>
                </div>
            </section> 
            <!-- <section id="testimonials" data-include="testimonials"></section> -->
        </section>
        
        <section data-include="call-banner">
            <p>hello world</p>
        </section>
    </section>

    <footer data-include="footer"></footer>
    <!-- ! Javascript -->
    <script src="/js/contact.js"></script>
    <script src="/js/import-html.js"></script>
    <script src="/js/mobile-navbar.js"></script>
</body>
</html>