// ? Imports
@import "./components/variables";
@import "./components/navbar";
@import "./components/footer";
@import "./components/scrollbar";
@import "./components/faq";
@import "./components/save-banner";
@import "./components/call-banner";
@import "./components/testimonials";
@import "./components/plans";
@import "./components/animated-span";
@import "./components/animations";
@import "./components/title-banner";
@import "./components/error-popup";

.data-wrapper {
    display: flex;
    width: 100%;
    padding: 2% 5%;
    
    .main-container {
        background-color: $white;
        display: flex;
        width: 100%;
        border-radius: 10px;
        padding: 30px;
        gap: 20px;
    }
}
.left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
    .image-container {
        width: 80%;
        img {
            width: 100%;
        }
    }
    .buttons-wrapper {
        #change-btn {
            padding: 10px 10px;
            background-color: $smokedWhite;
            font-size: 1rem;
            font-family: $rubik;
            font-weight: $regular;
            border: 0px solid $grey;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0px 0px 5px $grey, inset 0px 0px 2px $grey;
            
            &:hover {
                // border: 2px solid $orange;
                box-shadow: 0px 0px 5px 2px $orange;
                // background-color: $orangeFadded;
                background-color: $smokedWhiteLight;
            }
            i {
                --fa-primary-color: #FF4C30;
                --fa-secondary-color: #FF4C30;
                --fa-secondary-opacity: 0.4;
            }


        }
    }
}
.right-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    .form-fields-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .username, .name, .email {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .input-wrapper {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            color: $black;
            background-color: $smokedWhiteLight;
    
            border: 2px solid $grey;
            box-shadow: inset 0px 0px 3px $grey;
            border-radius: 5px;
            input {
                width: 100%;
                font-size: 1.2rem;
                font-family: $rubik;
                font-weight: $regular;
                color: $grey;
                background-color: $smokedWhiteLight;
                border-color: transparent;
            }
            button {
                display: flex;
                flex-direction: row;
                gap: 10px;
                padding: 10px;
                cursor: pointer;
                font-size: 1.2rem;
                font-family: $rubik;
                font-weight: $regular;
                color: $white;
                background-color: $orange;
                border-radius: 5px;
                border: none;
                &:hover {
                    background-color: $orangeDark;
                }
            }
            &:focus-within {
                border: 2px solid $orange;
                background-color: $white;
                input {
                    outline:  none;
                    background-color: $white;
                    color: $black;
                }
            }
        }
        h3 {
            font-size: 1.2rem;
            font-family: $rubik;
            font-weight: $medium;
            color: $black;
        }
    }
    #confirm-btn {
        padding: 10px;
        font-size: 1rem;
        font-family: $rubik;
        font-weight: $regular;
        background-color: $orange;
        border-radius: 5px;
        border: none;
        width: max-content;
        color: $white;
        cursor: pointer;

        &:hover {
            background-color: $orangeDark;
        }
    }
}

.form-wrapper {
    // display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    &.open {
        display: flex !important;
        #image-upload {
            // margin: 0 auto;
    
            width: 60%;
            height: max-content;
    
            background-color: $smokedWhiteLight;
            border-radius: 5px;
            box-shadow: inset 0px 0px 2px $grey, 0px 0px 10px $grey;
            .content-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                // align-items: center;
                gap: 30px;
                padding: 50px;
                width: 100%;
                height: 100%;
                .title-wrapper {
                    display: flex;
                    justify-content: space-between  ;
                    h2 {
                        font-size: 2rem;
                        font-family: $rubik;
                        font-weight: $medium;
                        color: $black;
                    }
                    i {
                        font-size: 2rem;
                        &:hover {
                            color: $orange;
                            cursor: pointer;
                        }
                    }
                }
                .file-upload-wrapper {
                    width: 100%;
                    height: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    input {
                        display: flex;
                        flex-direction: column;
                        outline: 2px dotted $orange;
                        width: 100%;
                        height: 100%;
                        padding: 20px;
                        
                        text-align: center;
                        font-size: 1rem;
                        font-family: $rubik;
                        font-weight: $regular;
                        &:hover {
                            cursor: pointer;
                            outline: 2px solid $orange;
                            box-shadow: inset 0px 0px 5px $orange, 0px 0px 3px $orange;
                            background-color: $orangeLight;
                        }
                        &::file-selector-button {
                            padding: 10px 20px;
                            font-size: 1rem;
                            font-family: $rubik;
                            font-weight: $regular;
                            background-color: $orange;
                            border-radius: 5px;
                            border: none;
                            width: max-content;
                            color: $white;
                            cursor: pointer;
                            &:hover {
                                background-color: $orangeDark;
                            }
                        }
                    }
                    
                }
                button {
                    padding: 10px 20px;
                    font-size: 1rem;
                    font-family: $rubik;
                    font-weight: $regular;
                    background-color: $orange;
                    border-radius: 5px;
                    border: none;
                    width: max-content;
                    color: $white;
                    cursor: pointer;
    
                    &:hover {
                        background-color: $orangeDark;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 990px) {
    .main-container {
        flex-direction: column;
    }
}