// ? Imports
@import "./components/variables";
@import "./components/navbar";
@import "./components/footer";
@import "./components/scrollbar";
@import "./components/save-banner";
@import "./components/animated-span";
@import "./components/animations";
@import "./components/title-banner";
@import "./components/login-modal";

.section-data-wrapper {
    padding: 2% 5%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: $bgColor;
}
.hidden {
    display: none !important;
}
.page-title {
    padding: 1% 5%;
    background-color: $bgColor;

    h1 {
        font-size: 3rem;
        color: $orange;
        font-weight: $bold;
        font-family: $rubik;
    }
}
#tabs-container {
    height: 100%;

    .tabs-wrapper {
        padding: 10px;
        background-color: $smokedWhiteDark;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: max-content;
        color: $black;
        
        .tab-group {
            .tab-title {
                font-family: $rubik;
                font-weight: $medium;
                font-size: 1.6rem;
                padding: 10px 30px;
                border-radius: 8px;
                display: flex;
                flex-direction: row;
                gap: 20px;
                align-items: center;
                justify-content: space-between;
                i {
                    color: $black;
                }
                &:hover {
                    cursor: pointer;
                    background-color: $smokedWhite;
                }
                
            }
            .menu-dropdown {
                // background-color: $orangeFadded;
                .dropdown-element {
                    font-family: $rubik;
                    font-weight: $medium;
                    font-size: 1.4rem;
                    padding: 10px 50px;
                    border-radius: 8px;
                    &:hover {
                        background-color: $smokedWhite;
                        cursor: pointer;
                    }             
                }
            }
            .selected {
                background-color: $orange !important;
                color: white;
                
                &:hover {
                    background-color: $orangeDark !important;
                }
                i {
                    transform: rotate(180deg);
                    color: $white !important;
                }
                &.dropdown-element {
                    & + .tab-title  {
                        background-color: $orange !important;
                        color: $white;
                    }
                }
            }
        }

    }
}

#data-container {
    width: 100%;
    background-color: $smokedWhiteDark;
    border-radius: 10px;
    padding: 20px;
}

#all-data {
    width: 100%;
    .data-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .data-card {
            display: flex;
            flex-direction: row;
            background-color: $whiteDark;
            border: 2px solid $smokedWhite;
            width: 100%;
            padding: 10px;
            border-radius: 10px;

            justify-content: space-between;
            align-items: center;
            .left-wrapper {
                display: flex;
                flex-direction: row;
                gap: 20px;
                align-items: center;
                .icon {
                    img {
                        width: 150px;
                        border-radius: 5px;
                        aspect-ratio: 1.7/1;
                        object-fit: cover;  
                        
                    }
                    &.pfp {
                        img {
                            object-fit: contain;  
                        }
                    }
                }
                .details {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: space-around;
                    .detail-title {
                        color: $orange;
                        font-size: 2rem;
                        font-weight: $semiBold;
                        font-family: $rubik;
                    }
                    .detail-subtitle {
                        color: $black;
                        font-size: 1.2rem;
                        font-weight: $medium;
                        font-family: $rubik;
                        display: flex;
                        p:not(:last-child)::after {
                            content: " | ";
                            margin-right: 5px;
                        }
                        span {
                            color: $black;
                            &.orange-span {
                                color: $orange !important;
                            }
                        }
                    }
                    .detail-tags {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        flex-direction: row;
                        span {
                            color: $black;
                            font-size: 1rem;
                            font-weight: $medium;
                            font-family: $rubik;
                            padding: 5px 10px;
                            background-color: $smokedWhite;
                            border-radius: 5px;
                            text-align: center;
                            &:hover {
                                background-color: $orangeFadded;
                                cursor: pointer;
                                color: $white;
                            }
                        }
                    }
                }
            }
            .right-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
                button {
                    background-color: $white;
                    border: 2px solid $greyLight;
                    border-radius: 5px;
                    padding: 10px 30px;
                    
                    color: $black;
                    font-size: 1rem;
                    font-weight: $medium;
                    font-family: $rubik;
                    
                    &:hover {
                        cursor: pointer;
                        border: 2px solid $orange;
                        background-color: $smokedWhite;
                        box-shadow: 0px 0px 3px 0px $grey;
                    }
                    
                    &.orange-button {
                        background-color: $orange;
                        color: $white;
                        border: 2px solid $orange;
                        &:hover {
                            background-color: $orangeDark;
                            box-shadow: 0px 0px 5px 0px $orange;
                            
                        }
                    }
                }
            }
        }
        .no-data {
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 900px){
    .section-data-wrapper {
        flex-direction: column !important;
        .tabs-wrapper {
            width: 100% !important;
        }
        .data-card {
            flex-direction: column !important;
            gap: 20px;
            .left-wrapper {
                flex-direction: column !important;
                .icon {
                    img {
                        width: 100% !important;
                    }
                }
                .details {
                    width: 100%;
                    .detail-subtitle {
                        flex-direction: column;
                        p {
                            &::before {
                                content: "• "
                            }
                            &::after {
                                content: "" !important;
                            }
    
                        }
                    }
                    .detail-tags {
                        span {
                            display: inline-block;
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}