// ? Imports
@import "./components/variables";
@import "./components/navbar";
@import "./components/footer";
@import "./components/scrollbar";
@import "./components/save-banner";
@import "./components/animated-span";
@import "./components/animations";
@import "./components/error-popup";

.important-note-banner {
    padding: 20px 40px;
    width: 100%;
    background-color: $orangeDark;
    h3 {
        color: $white;
        font-size: 1.4rem;
    }
}

.title {
    h2 {
        color: $orange;
        font-size: 2rem;
        font-family: $rubik;
        font-weight: $semiBold;
    }
}

.pika-single {
    font-family: $rubik; 
    font-size: 1rem; 
      
    .pika-prev, .pika-next {
        font-size: 1.2rem; 
    }
    
    .pika-table {
        border-collapse: collapse; /* Ensure cells are flush against each other */
    }
    
    .is-today {
        button {
            background-color: $orangeFadded !important; 
            color: white !important;
        }
    }
    .is-selected {
        button {
            background-color: $orange !important;
        }
    }
    .pika-button {
        background-color: $white !important; 
        &:hover {
            background-color: $orangeFadded !important;
        }
    }
}

.container {
    width: 100%;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .car-name {
        font-size: 3rem;
        color: $orange;
        font-family: $rubik;
        font-weight: $semiBold;
    }
    #pay-now-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
    }
    .top-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        gap: 20px;
        align-items: normal;

        flex: 1;

        .left-data-wrapper {
            flex: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .title {
                h2 {
                    color: $orange;
                    font-size: 2rem;
                    font-family: $rubik;
                    font-weight: $semiBold;
                }
            }
            .fields-container {
                display: flex;
                width: 100%;
                flex-direction: column;
                gap: 50px;
                .field-wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .field {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .title-wrapper {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            font-size: 1.2rem;
                            gap: 10px;
                            h3 {
                                font-size: 1.2rem;
                                font-family: $rubik;
                                font-weight: $medium;
                                span {
                                    color: $orange; 
                                    font-size: 1.2rem; 
                                    font-weight: $medium; 
                                    word-wrap: break-word
                                }
                            }
                            i {
                                color: $orange;
                            }
                        }
                        .input-wrapper {
                            width: 100%;
        
                            input, select {
                                width: 100%;
                                padding: 15px 20px;
                                border-radius: 5px;
                                border: none;
                                background-color: $white;
                                font-size: 1rem;
                                font-family: $rubik;
                                font-weight: $regular;
                                color: $black;
                                outline: 2px solid $smokedWhite;
        
                                &:hover {
                                    background-color: $smokedWhiteLight;
                                    box-shadow: 0px 0px 2px 1px $orange;
                                    cursor: pointer;
                                    outline: 2px solid $orange;
        
                                }
        
                                &:focus {
                                    outline: 2px solid $orange;
                                    background-color: $white;
                                    box-shadow: 0px 0px 3px 2px $orange;
        
                                }
                            }
                        }
                        .datepicker {
                            padding: 15px;
                            font-size: 16px;
                            border: 1px solid $smokedWhite;
                            background-color: $white;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                    }
                    .note {
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .right-data-wrapper {
            flex: 1;
            width: 100%;
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: space-between;

            

            .car-data-wrapper {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 40px;
                width: 100%;

                .additional-offers {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .offer {
                        padding: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 5px;
                        background-color: $white;
                        .hidden {
                            display: none;
                        }
                        &:hover {
                            background-color: $smokedWhiteLight;
                            cursor: default;

                        }
                        .offer-name {
                            font-size: 1.4rem;
                            font-family: $rubik;
                            font-weight: $medium;
                            i {
                                color: $orange;
                            }
                        }
                        .offer-button {
                            button {
                                padding: 10px 20px;
                                font-size: 1.2rem;
                                font-family: $rubik;
                                font-weight: $medium;
                                background-color: $orange;
                                border-radius: 5px;
                                border: none;
                                color: $white;
                                &:hover {
                                    background-color: $orangeDark;
                                    cursor: pointer;
                                }
                            }
                            .offer-remove {
                                background-color: $smokedWhiteDark !important;
                                color: $black !important;
                            }
                        }
                    }
                }

                #pricing-box {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    table {
                        width: 100%;
                        h3 {
                            font-size: 1.2rem;
                            font-family: $rubik;
                            font-weight: $regular;
                            color: black;
                        }
                        tr:last-child {
                            background-color: $smokedWhiteLight;
                        }
                        tr {
                            background-color: $white;
                            border-bottom: 1px solid black;
                        }
                        td {
                            padding: 15px;
                        }
                        .highlight-title {
                            font-weight: $medium;
                        }
                        .highlight-orange {
                            font-weight: $medium;
                            color: $orange !important;
                        }
                        span {
                            font-size: 0.6rem;
                            font-weight: $regular;
                        }
                    }
                }

            }
        }
    }
    .orange-line {
        height: 3px;
        background-color: $orange;
        width: 80%;
        align-self: center;
        border: none;
        border-radius: 5px;
    }
    .bottom-wrapper {
        .personal-data-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .title-wrapper {
                h2 {
                    color: $orange;
                    font-size: 2rem;
                    font-family: $rubik;
                    font-weight: $semiBold;
                }
            }
            .fields-container {
                display: flex;
                flex-direction: column;
                gap: 15px;
                .form-single-row {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    width: 100%;
                    .flat {
                        width: max-content;
                    }
                    .address {
                        width: 100%;
                    }
                    .phone {
                        min-width: max-content;
                    }
                    .name {
                        display: none;
                    }
                }
                .form-field {
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    width: 100%;
                    label {
                        color: $black; 
                        font-family: $rubik;
                        font-size: 1.2rem; 
                        font-weight: $medium; 
                        word-wrap: break-word;
                        span {
                            color: $orange; 
                            font-size: 1.2rem; 
                            font-weight: $medium; 
                            word-wrap: break-word;
                            &.optional-tag {
                                font-size: 0.8rem;
                            }
                        }
                    }
                    input {
                        background-color: $white;
                        border: none;
                        border-radius: 5px;
                        padding: 15px 10px;
                        color: $black;
                        font-family: $rubik;
                        font-weight: $regular;
                        font-size: 1rem;
                        outline: 2px solid $smokedWhite;

                        &:hover {
                            background-color: $smokedWhiteLight;
                            outline: 2px solid $orange;

                        }
                        &:focus {
                            outline: 2px solid $orange;
                            box-shadow: 0px 0px 3px 2px $orange;
                        }
                    }
                }
                .save-info-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    label {
                        font-size: 1rem;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    input {
                        width: 15px;
                        height: 15px;
                        &:hover {
                            cursor: pointer;
                        }
                        
                    }
                }
            }
        }
    }
}

#payment-form-container {
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    align-self: center;
    .title-wrapper {
        text-align: center;
        h1 {
            font-size: 3rem;
            font-weight: $semiBold;
            font-family: $rubik;
            color: $orange;
            
        }
    }
    #payment-form {
        padding: 30px;
        background-color: $white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
            text-align: center;
            font-size: 2rem;
            font-weight: $regular;
            font-family: $rubik;
            color: $black;
        }
        
        input {
            background-color: $white;
            font-size: 1.2rem;
            font-weight: $regular;
            font-family: $rubik;
            padding: 10px;
        }
        .Label {
            font-size: 1.2rem !important;
            font-weight: $medium;
            font-family: $rubik;

        }
        #error-message {
            font-weight: $regular;
            font-size: 1rem;
            font-family: $rubik;
        }
        #submit { 
            padding: 10px 30px;
            font-weight: $medium;
            font-size: 1.4rem;
            font-family: $rubik;
            color: $white;
            background-color: $orange;
            border-radius: 10px;
            border-color: $orangeFadded;
            box-shadow: 0px 0px 10px 2px $orange;
            cursor: pointer;
            width: max-content;
            align-self: center;
            
            &:hover {
                background-color: $orangeDark;
                box-shadow: 0px 0px 5px 2px $orange;
            }
        }
    }
}
.book-now-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    #book-now-btn {
        padding: 20px;
        font-weight: $medium;
        font-size: 1.6rem;
        font-family: $rubik;
        color: $white;
        background-color: $orange;
        border-radius: 10px;
        border-color: $orangeFadded;
        box-shadow: 0px 0px 10px 2px $orange;
        cursor: pointer;
        width: max-content;
        
        &:hover {
            background-color: $orangeDark;
            box-shadow: 0px 0px 5px 2px $orange;
        }
    }
}

@media screen and (max-width: 900px) {
    .top-wrapper {
        flex-direction: column !important;
        .offer-name {
            font-size: 1.2rem !important;
        }
    }
    .bottom-wrapper {
        .form-single-row {
            flex-direction: column !important;
            .flat {
                width: 100% !important;
            }
        }
    }
    #payment-form-container {
        width: 100%;
    }
}