// ? Imports
@import "./components/variables";
@import "./components/navbar";
@import "./components/footer";
@import "./components/scrollbar";
@import "./components/save-banner";
@import "./components/call-banner";
@import "./components/animated-span";
@import "./components/animations";
@import "./components/title-banner";
@import "./components/error-popup";

.data-wrapper {
    padding: 2% 10%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#tabs-container {
    height: 100%;  
    .tabs-wrapper {
        padding: 10px;
        background-color: $smokedWhiteLight;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .tab-title {
            font-family: $rubik;
            font-weight: $medium;
            font-size: 1.6rem;
            padding: 10px 30px;
            border-radius: 8px;
            &.selected {
                background-color: $orange;
                color: $white;
                &:hover {
                    background-color: $orangeDark;
                }
            }
            &:hover {
                cursor: pointer;
                background-color: $smokedWhite;
            }
        }
    }
}

.hidden {
    display: none !important;
}
#bookings-data {
    width: 100%;
    .bookings-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .booking {
            display: flex;
            flex-direction: row;
            background-color: $smokedWhiteLight;
            width: 100%;
            padding: 10px;
            border-radius: 10px;

            justify-content: space-between;
            align-items: center;
            .left-wrapper {
                display: flex;
                flex-direction: row;
                gap: 20px;
                .icon {
                    img {
                        width: 150px;
                        border-radius: 5px;
                    }
                }
                .booking-details {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: space-around;
                    .car-details {
                        color: $orange;
                        font-size: 2rem;
                        font-weight: $semiBold;
                        font-family: $rubik;
                    }
                    .booking-period {
                        color: $black;
                        font-size: 1.2rem;
                        font-weight: $medium;
                        font-family: $rubik;
                        span {
                            color: $black;
                        }
                    }
                    .offers {
                        span {
                            color: $black;
                            font-size: 1rem;
                            font-weight: $medium;
                            font-family: $rubik;
                            padding: 5px 10px;
                            background-color: $greyLight;
                            border-radius: 5px;
                            &:hover {
                                background-color: $orangeFadded;
                                cursor: pointer;
                                color: $white;
                            }
                        }
                    }
                }
            }
            .right-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
                button {
                    background-color: $white;
                    border: 2px solid $greyLight;
                    border-radius: 5px;
                    padding: 10px 30px;
                    
                    color: $black;
                    font-size: 1rem;
                    font-weight: $medium;
                    font-family: $rubik;
                    
                    &:hover {
                        cursor: pointer;
                        border: 2px solid $orange;
                        background-color: $smokedWhite;
                        box-shadow: 0px 0px 3px 0px $grey;
                    }
                    
                    &#show-invoice-btn, &#pay-now-btn {
                        background-color: $orange;
                        color: $white;
                        border: 2px solid $orange;
                        &:hover {
                            background-color: $orangeDark;
                            box-shadow: 0px 0px 5px 0px $orange;
                            
                        }
                    }
                }
            }
        }
        .no-data {
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}