// ? Imports
@import "./components/variables";
@import "./components/navbar";
@import "./components/footer";
@import "./components/scrollbar";
@import "./components/faq";
@import "./components/save-banner";
@import "./components/call-banner";
@import "./components/testimonials";
@import "./components/plans";
@import "./components/animated-span";
@import "./components/animations";
@import "./components/underlined-text";



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: $orange;
}
 

.main-data-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: $bgColor;

    .main-data-part1 {
        min-height: 100vh;
        padding: 0 7%;
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    .main-data-part2 {
        min-height: 100vh;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        gap: 100px;
    
    }
}


#landing-page {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .landing-page-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .landing-page-left {
            width: 100%;
            height: auto;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            
            h3 {
                font-size: 2rem;
                margin: 0;
            }
            h1 {
                font-size: 4rem;
                margin: 0;
    
                
                
            }
            p {
                font-size: 1.2rem;
            }
    
            .landing-page-buttons {
                display: flex;
                flex-direction: row;
                gap: 10px;
    
                a { 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    font-size: 1rem;
                    
    
                    width: max-content;
                    background-color: $orange;
                    padding: 10px 10px;
                    border-radius: 5px;
    
                    text-decoration: none;
                    color: $black;
                    img {
    
                        width: 16px;
                    }
                }
                .learn-more-button {
                    background-color: $black !important;
                    color: $smokedWhite;
                }
            }
        }
    
        .landing-page-right {
            width: 90%;
            img {
                width: 100%;
            }
        } 
    }
    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            // animation: bounce ease-in-out;
            // animation: bounce 0.21s;
            // animation-direction: alternate;
            // animation-timing-function: ease-in-out;
            // animation-iteration-count: infinite;
            // animation-delay: 1s;
            animation: bounce 2s ease-in-out 0s infinite normal forwards;
        }
    }
}


#quick-booking {
    width: 100%; 
    height: 100%; 
    padding: 25px 50px; 
    background: #D0D0D0; 
    box-shadow: 0px 4px 68px 9px rgba(0, 0, 0, 0.25); 
    border-radius: 10px; 
    overflow: hidden; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 41px; 
    display: inline-flex;

    .wrapper {
        flex-direction: column; 
        justify-content: center; 
        align-items: flex-start; 
        gap: 41px; 
        display: flex;
        width: 100%;

        .title {
            justify-content: center; 
            align-items: flex-start; 
            gap: 10px; 
            display: inline-flex;

            h1 {
                color: black; 
                font-size: 40px; 
                font-weight: $bold; 
                word-wrap: break-word;
            }
        }

        .form-data {
            justify-content: flex-start; 
            gap: 30px; 
            display: inline-flex;
            width: 100%;
            -webkit-appearance: none;
            .form-column {
                flex-direction: column; 
                width: 100%;
                display: inline-flex;
                gap: 30px; 
            }
            .data-wrapper {
                flex-direction: column; 
                justify-content: flex-start; 
                align-items: flex-start; 
                gap: 10px; 
                display: flex;
                width: 100%;
                flex: 1;

                .form-data-title {
                    h2 {
                        color: $black; 
                        font-size: 2rem; 
                        font-weight: $medium; 
                        word-wrap: break-word;
                        span {
                            color: $orange; 
                            font-size: 32px; 
                            font-weight: $medium; 
                            word-wrap: break-word
                        }
                    }
                }
                .dropdown {
                    width: 100%; 
                    padding: 16px 10px;
                    background: $white; 
                    border-radius: 10px; 
                    justify-content: space-between; 
                    align-items: center; 
                    display: inline-flex;
                    border: none;
                    cursor: pointer;
                    -webkit-appearance: none;


                    .placeholder-text {
                        color: $smokedWhite; 
                        // font-size: 20px; 
                        font-weight: $medium; 
                        word-wrap: break-word;
                    }
                    .icon {
                        font-size: 1.6rem;
                    }
                }
            }
            .search-button {
                width: 100%; 
                // height: 50%;  
                padding: 10px 15px;
                background-color: $orange; 
                border-radius: 10px; 
                border-color: $orange;
                
                box-shadow: 0px 0px 20px 3px $orange;
                color: $smokedWhite; 
                font-size: 1.6rem; 
                font-family: $rubik; 
                font-weight: $medium; 
                word-wrap: break-word;
            }

        }
    }

}

#choose-us-container {
    width: 100%; 
    // height: 1213.70px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
    .banner-img-wrapper {
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: center; 
        gap: 10px; 
        display: flex;
        width: 70%;
        .banner-img {
            width: 100%;
        }
    }

    .wcu-data {
        width: 100%; 
        justify-content: center; 
        align-items: center;
        display: flex;
        gap: 200px;
        .wcu-wrapper-left {
            flex-direction: column; 
            justify-content: center; 
            align-items: flex-start; 
            gap: 20px; 
            display: inline-flex;

            width: 100%;

            .sub-title {
                color: #FF4C30; 
                font-size: 2rem; 
                font-family: $rubik; 
                font-weight: 700; 
                word-wrap: break-word
            }
            .title {
                width: 100%; 
                color: black; 
                font-size: 3rem; 
                font-family: $rubik; 
                font-weight: 700; 
                word-wrap: break-word;
            }
            .description {
                align-self: stretch; 
                color: black; 
                font-size: 1.4rem; 
                font-family: $rubik; 
                font-weight: 400; 
                word-wrap: break-word;
            }
            .booknow-btn {
                // align-self: stretch; 
                height: 60px; 
                padding: 20px 30px;
                background: $orange; 
                box-shadow: 0px 10px 15px $orange; 
                border-radius: 10px; 
                border-color: transparent;
                justify-content: center; 
                align-items: center; 
                gap: 10px; 
                display: inline-flex;

                .booknow-text {
                    color: $black; 
                    font-size: 1.6rem; 
                    font-family:  $rubik; 
                    font-weight: $medium; 
                    text-decoration: none;
                }
                .booknow-icon {
                    width: 30px; 
                }
            }
        }

        .wcu-wrapper-right {
            flex-direction: column; 
            justify-content: flex-start; 
            align-items: flex-start; 
            gap: 30px; 
            display: inline-flex;

            width: 100%;

            .deal {
                justify-content: flex-start; 
                align-items: center; 
                gap: 10px; 
                display: inline-flex;

                width: 100%;
                .deal-img {
                    background: #ff4c300a; 
                    filter: invert(33%) sepia(50%) saturate(3700%) hue-rotate(370deg) brightness(106%) contrast(112%);
                    border-radius: 100px;

                    height: 100%;
                }
                .deal-details {
                    flex-direction: column; 
                    justify-content: flex-start; 
                    align-items: flex-start; 
                    gap: 10px; 
                    display: inline-flex;

                    // width: 70%;

                    .deal-title {
                        color: black; 
                        font-size: 1.6rem; 
                        font-family: $rubik; 
                        font-weight: 700; 
                        word-wrap: break-word;
                        width: 100%;
                    }
                    .deal-description {
                        width: 600px; 
                        color: black; 
                        font-size: 1.4rem; 
                        font-family:  $rubik; 
                        font-weight: 400; 
                        word-wrap: break-word;
                        width: 100%;
                    }
                }
            }
        }
    }
}


// !! Media Queries
// !! 1330 PX
@media screen and (max-width: 1330px) {
    #quick-booking {
        .form-data-title {
            h2 {
                font-size: 1.6rem !important;
            }
        }
    }
}


// !! 1100 PX
@media screen and (max-width: 1100px) {
    #quick-booking {
        .form-data-title {
            h2 {
                font-size: 1.2rem !important;
            }
        }
    }
}



// !! 980 PX
@media screen and (max-width: 980px) {
    
    #landing-page {
        // height: 100%;
        .landing-page-wrapper {
            width: 100%;
            justify-content: space-around;
            flex-direction: column-reverse;
            .landing-page-right {
                display: flex;
                justify-content: center;
                img {
                    width: 80%;
                    display: none;
                }
            }
        }
    }
    
    #quick-booking {
        .form-data {
            flex-direction: column;     
        } 
    }


    #choose-us-container {
        .wcu-data {
            flex-direction: column;
            gap: 100px;

            .wcu-wrapper-right {
                .deal {
                    flex-direction: column;
                    .deal-details {
                        text-align: center;
                    }

                }
            }
        }
    }
}

