// ? Imports
@import "./components/variables";
@import "./components/navbar";
@import "./components/footer";
@import "./components/scrollbar";
@import "./components/save-banner";
@import "./components/animated-span";
@import "./components/animations";
@import "./components/error-popup";

.important-note-banner {
    padding: 20px 40px;
    width: 100%;
    background-color: $orangeDark;
    h3 {
        color: $white;
        font-size: 1.4rem;
    }
}

.title {
    h2 {
        color: $orange;
        font-size: 2rem;
        font-family: $rubik;
        font-weight: $semiBold;
    }
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px 0;
    background-color: $white;

}
#payment-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    align-self: center;
    .title-wrapper {
        text-align: center;
        h1 {
            font-size: 3rem;
            font-weight: $semiBold;
            font-family: $rubik;
            color: $orange;
            
        }
    }
    #payment-form {
        padding: 30px;
        background-color: $smokedWhiteDark;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
            text-align: center;
            font-size: 2rem;
            font-weight: $regular;
            font-family: $rubik;
            color: $black;
        }
        
        input {
            background-color: $white;
            font-size: 1.2rem;
            font-weight: $regular;
            font-family: $rubik;
            padding: 10px;
        }
        .Label {
            font-size: 1.2rem !important;
            font-weight: $medium;
            font-family: $rubik;

        }
        #error-message {
            font-weight: $regular;
            font-size: 1rem;
            font-family: $rubik;
        }
        #submit { 
            padding: 10px 30px;
            font-weight: $medium;
            font-size: 1.4rem;
            font-family: $rubik;
            color: $white;
            background-color: $orange;
            border-radius: 10px;
            border-color: $orangeFadded;
            box-shadow: 0px 0px 10px 2px $orange;
            cursor: pointer;
            width: max-content;
            align-self: center;
            
            &:hover {
                background-color: $orangeDark;
                box-shadow: 0px 0px 5px 2px $orange;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #payment-form-container {
        width: 100%;
    }
}