<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en">

    <!-- Website Title -->
    <title>
        Booking Complete <%= order.car.brand %>
            <%= order.car.name %> - Rooobz Cars
    </title>

    <!-- Icon -->
    <link rel="shortcut icon" href="https://project.reubz.io/imgs/logo.png" type="image/x-icon">

    <!-- Primary Tags -->
    <meta name="title" content="Rooobz Cars">
    <meta name="description" content="Best Car Rental Website on the planet">


    <!-- Open Graph / Facebook / Insta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://project.reubz.io/">
    <meta property="og:title" content="Rooobz Cars">
    <meta property="og:description" content="Best Car Rental Website on the planet">
    <meta property="og:image" itemprop="image" content="https://project.reubz.io/imgs/logo-with-text.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://project.reubz.io/">
    <meta property="twitter:title" content="Rooobz Cars">
    <meta property="twitter:description" content="Best Car Rental Website on the planet">
    <meta property="twitter:image" content="https://project.reubz.io/imgs/logo-with-text.png">

    <!-- For Discord Embeds -->
    <meta content="#FF4C30" data-react-helmet="true" name="theme-color" />

    <link rel="stylesheet" href="/css/complete.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Fontawesome Link -->
    <!-- <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">

</head>

<body>
    <div data-include="navbar"></div>

    <div data-include="error-popup"></div>

    <section class="container">
        <div class="title-bar">
            <h2><i class="fad fa-circle-check"></i> Payment Complete</h2>
        </div>

        <div class="data-container">
            <div class="title-wrapper">
                <h2>THANK YOU!</h2>
            </div>
            <div class="data">
                <div class="text-data">
                    <p>
                        We are getting started on your car booking right away!
                    </p>
                    <p>
                        You will recieve a confirmation email shortly to your email - <span>
                            <%= order.user.email %>
                        </span>
                    </p>
                </div>

                <div class="button-wrapper">
                    <a href="" class="order-confirmation-btn">View Order Confirmation</a>

                    <a href="" class="read-terms">Read about our cancellation policy.</a>

                </div>


            </div>
        </div>
    </section>




    <div data-include="save-banner"></div>

    <div data-include="footer"></div>

    <!-- ! Javascript -->

    <script src="/js/booking.js"></script>
    <script src="/js/error-popup.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/import-html.js"></script>
</body>

</html>