<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en">

    <!-- Website Title -->
    <title>Account Register - Rooobz Cars</title>

    <!-- Icon -->
    <link rel="shortcut icon" href="https://rooobzcars.reubz.io/imgs/logo.png" type="image/x-icon">

    <!-- Primary Tags -->
    <meta name="title" content="Account Register - Rooobz Cars">
    <meta name="description" content="Create your account">


    <!-- Open Graph / Facebook / Insta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rooobzcars.reubz.io/register">
    <meta property="og:title" content="Account Register - Rooobz Cars">
    <meta property="og:description" content="Create your account">
    <meta property="og:image" itemprop="image" content="https://rooobzcars.reubz.io/imgs/logo-with-text.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://rooobzcars.reubz.io/register">
    <meta property="twitter:title" content="Account Register - Rooobz Cars">
    <meta property="twitter:description" content="Create your account">
    <meta property="twitter:image" content="https://rooobzcars.reubz.io/imgs/logo-with-text.png">

    <!-- For Discord Embeds -->
    <meta content="#FF4C30" data-react-helmet="true" name="theme-color" />

    <link rel="stylesheet" href="/css/login-register.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Fontawesome Link -->
    <!-- <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
</head>

<body>

    <%- include('../components/error-popup') %>


        <button onclick="history.back()" id="back-btn">
            <i class="fad fa-arrow-left"></i> Back
        </button>

        <section class="data-wrapper">
            <div class="left-wrapper">
                <div>
                    <img id="logo" src="/imgs/logo-with-text.png" alt="Brand Logo Image" />
                </div>
            </div>

            <div class="right-wrapper">
                <h1 class="title">Create your account</h1>
                <form id="form" action="">
                    <div class="name">
                        <label for="name">Full Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="username">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="email">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="username" required>
                    </div>

                    <div class="password">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="re-password">
                        <label for="re-passwd">Re Enter Password</label>
                        <input type="password" id="re-password" name="password" required>
                    </div>

                    <button type="submit" value="register" id="submit">Register</button>
                </form>

                <hr class="line">
                <div class="redirect-wrapper">
                    <p id="redirect-text">Already have an account?</p>
                    <a href="/login" id="redirect-btn">Login here</a>
                </div>
            </div>
        </section>

        <!-- ! Javascript -->
        <script src="/js/auth-page.js"></script>
        <script src="/js/import-html.js"></script>
        <script src="/js/error-popup.js"></script>
</body>

</html>