<section class="call-banner-container">
    <section class="call-banner">
        <h1>Book a car by getting in touch with us</h1>
        <h3><span class="actual">(+91) 012 345 6789</span> <span class="placeholder">(+91) 012 345 6789</span></h3>
    </section>
</section>