<section class="call-banner-container">
    <section class="call-banner">
        <h1>Book a car by getting in touch with us</h1>
        <h3><span class="actual"><%= config.phone %></span> <span class="placeholder"><%= config.phone %></span></h3>
    </section>
</section>