<section id="faq">
    <div class="faq-container">
        <div class="title-wrapper">
            <div class="sub-title">FAQ</div>
            <div class="title">Frequently Asked Questions</div>
            <div class="description">Frequently Asked Questions about the Car Rental Booking Process on our website:<br>Answers to Common Concerns and Inquiries.</div>
        </div>
    
        <div class="data-container">
            <details class="faq-data" open>
                <summary class="faq-question-wrapper" onclick="faqClick('q1')">
                    <div id="q1" class="question">1. What is special about comparing rental car deals?</div>
                    <div class="icon">
                        <!-- <i class="fa-solid fa-angle-up"></i> -->
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </summary>
                <div class="faq-answer-wrapper">
                    <p class="answer">Comparing rental car deals is important as it helps find the best deal that fits your budget and requirements, ensuring you get the most value for your money. By comparing various options, you can find deals that offer lower prices, additional services, or better car models. You can find car rental deals by researching online and comparing prices from different rental companies.</p>
                </div>
            </details>
            <details class="faq-data">
                <summary class="faq-question-wrapper" onclick="faqClick('q1')">
                    <div id="q2" class="question">2. How do I find car rental deals?</div>
                    <div class="icon">
                        <!-- <i class="fa-solid fa-angle-up"></i> -->
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </summary>
                <div class="faq-answer-wrapper">
                    <p class="answer">You can find car rental deals by researching online and comparing prices from different rental companies. Websites such as Expedia, Kayak, and Travelocity allow you to compare prices and view available rental options. It is also recommended to sign up for email newsletters and follow rental car companies on social media to be informed of any special deals or promotions.</p>
                </div>
            </details>
            <details class="faq-data">
                <summary id="q3" class="faq-question-wrapper" onclick="faqClick('q1')">
                    <div class="question">3. What is special about comparing rental car deals?</div>
                    <div class="icon">
                        <!-- <i class="fa-solid fa-angle-up"></i> -->
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </summary>
                <div class="faq-answer-wrapper">
                    <p class="answer">Book in advance: Booking your rental car ahead of time can often result in lower prices. Compare prices from multiple companies: Use websites like Kayak, Expedia, or Travelocity to compare prices from multiple rental car companies. Look for discount codes and coupons: Search for discount codes and coupons that you can use to lower the rental price. Renting from an off-airport location can sometimes result in lower prices.</p>
                </div>
            </details>
        </div>
    </div>
</section>