<div id="login-register-modal" class="login-register-modal">
    <div class="content-wrapper">
        <div class="popup-title-wrapper">
            <h3 class="title">You must Login to Continue</h3>
            <i class="fad fa-circle-xmark" onclick="closeLoginModal()"></i>
        </div>
        <div class="buttons-wrapper">
            <a onclick="openWindow('/login')" class="login-btn modal-element">Log In</a>
            <a onclick="openWindow('/register')" class="register-btn modal-element">Register</a>
        </div>
    </div>
</div>