<header>
    <nav class="navbar">
        <div class="navbar-start">
            <a href="/"><img src="/imgs/logo-with-text-short-alternate.png" alt="Rooobz Cars logo"></a>
        </div>
        
        <div class="navbar-center">
            <ul>
                <li><a href="/" class="navbar-item">Home</a></li>
                <li><a href="/about" class="navbar-item">About</a></li>
                <li><a href="/vehicles" class="navbar-item">Vehicles</a></li>
                <li><a href="/contact" class="navbar-item">Contact</a></li>
            </ul>
        </div>
    
        <div class="navbar-end">
            <ul>
                <% if(user.id == undefined) {%>
                    <li><a href="/login" class="navbar-item login-button">Log In</a></li>
                    <li><a href="/register" class="navbar-item register-button">Register</a></li>
                <% } else { %>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">
                                <div class="wrapper">
                                    <%= user.username %>
                                    <img class="user-pfp" src="<%= user.profileImg %>" alt="Profile Picture">
                                </div>
                            </button>
                            <div class="dropdown-content">
                                <a href="/account"><i class="fad fa-sliders"></i> Account</a>
                                <a href="/api/auth/logout" class="logout-button"><i class="fa-duotone fa-right-from-bracket"></i> Logout</a>
                            </div>
                        </div>
                    </li>
                <% } %>

            </ul>
        </div>
    
        <!-- Mobile Navbar -->
        <div id="hamburger-menu">
            <div id="three-lines" onclick="openMobileMenu('hamburger-menu')">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <ul id="mobile-menu" class="mobile-menu">
                <div class="mob-navbar-start">
                    <li><a href="/" class="navbar-item">Home</a></li>
                    <li><a href="/about" class="navbar-item">About</a></li>
                    <li><a href="/vehicles" class="navbar-item">Vehicles</a></li>
                    <li><a href="/contact" class="navbar-item">Contact</a></li>
                </div>
                <div class="mob-navbar-end">
                    <% if(user.id == undefined) {%>
                        <li><a href="/login" class="navbar-item login-button">Log In</a></li>
                        <li><a href="/register" class="navbar-item register-button">Register</a></li>
                    <% } else { %>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">Dropdown</button>
                                <div class="dropdown-content">
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                    <a href="/api/auth/logout" class="navbar-item logout-button">Logout</a>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </div>
            </ul>
        </div>
    </nav>
</header>