<header>
    <nav id="navbar" class="navbar">
        <div class="navbar-start">
            <a href="/"><img src="/imgs/logo-with-text-short-alternate.png" alt="Rooobz Cars logo"></a>
        </div>
        
        <div class="navbar-center">
            <ul>
                <li><a href="/" class="navbar-item underlineText">Home</a></li>
                <li><a href="/about" class="navbar-item underlineText">About</a></li>
                <li><a href="/vehicles" class="navbar-item underlineText">Vehicles</a></li>
                <li><a href="/contact" class="navbar-item underlineText">Contact</a></li>
            </ul>
        </div>
    
        <div class="navbar-end">
            <ul>
                <% if(user.id == undefined) {%>
                    <li><a onclick="openWindow('/login')" class="navbar-item login-button underlineText" id="login-btn-desktop">Log In</a></li>
                    <li><a onclick="openWindow('/register')" class="navbar-item register-button" id="register-btn-desktop">Register</a></li>
                <% } else { %>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">
                                <div class="wrapper">
                                    <%= user.username %>
                                    <img class="user-pfp" src="<%= user.profileImg %>" onerror="this.src = '/imgs/default-user-img.png'" alt="Profile Picture">
                                </div>
                            </button>
                            <div class="dropdown-content">
                                <a href="/account/profile"><i class="fad fa-user"></i> Account</a>
                                <a href="/account/bookings"><i class="fad fa-bags-shopping"></i> Bookings</a>
                                <a onclick="toggleTheme()"><i class="fad fa-moon-over-sun"></i> Toggle Theme</a>
                                <% if (user.role == "admin") { %>
                                    <a href="/admin"><i class="fad fa-sliders"></i> Dashboard</a>
                                <% } %>
                                <a href="/api/auth/logout" class="logout-button"><i class="fad fa-right-from-bracket"></i> Logout</a>
                            </div>
                        </div>
                    </li>
                <% } %>

            </ul>
        </div>
    
        <!-- Mobile Navbar -->
        <div id="hamburger-menu">
            <div id="three-lines" onclick="openMobileMenu('hamburger-menu')">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <ul id="mobile-menu" class="mobile-menu">
                <div class="mob-navbar-start">
                    <li><a href="/" class="navbar-item">Home</a></li>
                    <li><a href="/about" class="navbar-item">About</a></li>
                    <li><a href="/vehicles" class="navbar-item">Vehicles</a></li>
                    <li><a href="/contact" class="navbar-item">Contact</a></li>
                </div>
                <div class="mob-navbar-end">
                    <% if(user.id == undefined) {%>
                        <li><a onclick="openWindow('/login')" class="navbar-item login-button" id="login-btn-mobile">Log In</a></li>
                        <li><a onclick="openWindow('/register')" class="navbar-item register-button" id="register-btn-mobile">Register</a></li>
                    <% } else { %>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <div class="wrapper">
                                        <%= user.username %>
                                        <img class="user-pfp" src="<%= user.profileImg %>" onerror="this.src = '/imgs/default-user-img.png'" alt="Profile Picture">
                                    </div>
                                </button>
                                <div class="dropdown-content">
                                    <a href="/account/profile"><i class="fad fa-user"></i> Account</a>
                                    <a href="/account/bookings"><i class="fad fa-bags-shopping"></i> Bookings</a>
                                    <a onclick="toggleTheme()"><i class="fad fa-sun"></i> Toggle Theme</a>
                                    <% if (user.role == "admin") { %>
                                        <a href="/admin"><i class="fad fa-sliders"></i> Dashboard</a>
                                    <% } %>
                                    <a href="/api/auth/logout" class="logout-button"><i class="fa-duotone fa-right-from-bracket"></i> Logout</a>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </div>
            </ul>
        </div>
    </nav>
</header>