<section id="plans-container">
    <div class="plans-container-title">
        <h3>Plan your trip now</h3>
        <h1>Quick &amp; Easy Car Rental</h1>
    </div>
    <div class="data-wrapper">
        <div class="plan">
            <img class="plan-img" src="/imgs/plan1.png" />
            <h3 class="plan-title">Select Car</h3>
            <p class="plan-description">We offers a big range of vehicles for all your driving needs. We have the perfect car to meet your needs</p>
        </div>
        <div class="plan">
            <img class="plan-img" src="/imgs/plan2.png" />
            <h3 class="plan-title">Contact Operator</h3>
            <p class="plan-description">Our knowledgeable and friendly operators are always ready to help with any questions or concerns</p>
        </div>
        <div class="plan">
            <img class="plan-img" src="/imgs/plan3.png" />
            <h3 class="plan-title">Let's Drive</h3>
            <p class="plan-description">Whether you're hitting the open road, we've got you covered with our wide range of cars</p>
        </div>
    </div>
</section>