<section class="save-banner-container">
    <section class="save-banner">
        <h1>Save Big with our cheap car rental!</h1>
        <h3>Top Airports. Local Suppliers. <span class="actual">24/7</span> <span class="placeholder">24/7</span> Support</h3>
    </section>
</section>