<section id="testimonials">
  <div class="testimonials-container">
      <div class="title-wrapper">
        <div class="sub-title">Reviewed by People</div>
        <div class="title">Client's Testimonials</div>
        <div class="description">Discover the positive impact we've made on the our clients by reading through their testimonials. Our clients have experienced our service and results, and they're eager to share their positive experiences with you.</div>
      </div>
      <div class="reviews-container">
        <div class="review-wrapper">
          <div class="review-message">"We rented a car from this website and had an amazing experience! The booking was easy and the rental rates were very affordable. "</div>
          <div class="review-data-wrapper">
            <div class="review-data-left">
              <img class="review-user-img" src="https://via.placeholder.com/70x70" />
              <div class="review-user-name-wrapper">
                <div class="review-user-name">Parry Hotter</div>
                <div class="review-user-location">Hogwarts</div>
              </div>
            </div>
            <div class="review-data-right">
              <img class="review-icon" src="/icons/quotation-mark.png" alt="">
            </div>
          </div>
        </div>
        <div class="review-wrapper">
          <div class="review-message">"The car was in great condition and made our trip even better. Highly recommend this car rental website!"</div>
          <div class="review-data-wrapper">
            <div class="review-data-left">
              <img class="review-user-img" src="https://via.placeholder.com/70x70" />
              <div class="review-user-name-wrapper">
                <div class="review-user-name">Reubz Rizzly</div>
                <div class="review-user-location">Mumbai</div>
              </div>
            </div>
            <div class="review-data-right">
              <img class="review-icon" src="/icons/quotation-mark.png" alt="">
            </div>
          </div>
        </div>
      </div>
  </div>
</section>