@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

.underlineText {
  position: relative;
}
.underlineText:hover {
  animation: hoverIcon 0.2s ease-in-out both;
}
.underlineText:hover:before {
  visibility: visible;
  transform: scale(1);
}
.underlineText:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #FF4C30;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

body {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header nav {
  background-color: #DADADA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 2;
  /* The container <div> - needed to position the dropdown content */
}
header nav img {
  width: 150px;
}
header nav ul {
  justify-content: center;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
header nav .navbar-item {
  text-decoration: none;
  color: #0c0c0c;
  width: 100%;
  cursor: pointer;
}
header nav .register-button {
  background-color: #FF4C30;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: #FF4C30 0px 0px 10px;
}
header nav .dropdown {
  position: relative;
  display: inline-block;
  /* Dropdown Content (Hidden by Default) */
  /* Show the dropdown menu on hover */
}
header nav .dropdown .dropbtn {
  background-color: #d5d5d5;
  color: #0c0c0c;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding: 16px;
  font-size: 1.2rem !important;
  border: none;
  border-radius: 5px;
}
header nav .dropdown .dropbtn .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header nav .dropdown .dropbtn img {
  width: 42px;
  margin: auto;
}
header nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  right: 0;
  width: -moz-max-content;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* Links inside the dropdown */
}
header nav .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  font-size: 1.2rem !important;
  /* Change color of dropdown links on hover */
}
header nav .dropdown .dropdown-content a:hover {
  background-color: #DADADA;
}
header nav .dropdown:hover {
  /* Change the background color of the dropdown button when the dropdown content is shown */
}
header nav .dropdown:hover .dropdown-content {
  display: block;
}
header nav .dropdown:hover .dropbtn {
  background-color: #FF4C30;
  color: #DADADA;
}
header nav #hamburger-menu {
  display: none;
}
header nav #hamburger-menu .bar1, header nav #hamburger-menu .bar2, header nav #hamburger-menu .bar3 {
  width: 25px;
  height: 2px;
  background-color: #0c0c0c;
  margin: 6px 0;
  transition: 0.5s;
}
header nav #hamburger-menu.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
header nav #hamburger-menu.open .bar2 {
  opacity: 0;
}
header nav #hamburger-menu.open .bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
header nav #hamburger-menu.open .mobile-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
header nav #hamburger-menu .mobile-menu {
  display: none;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 50px 30px;
  background-color: #DADADA;
  z-index: 999;
  height: 100%;
  position: fixed;
  gap: 50px;
}
header nav #hamburger-menu .mobile-menu .mob-navbar-start {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
header nav #hamburger-menu .mobile-menu .mob-navbar-end {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex: 1;
}
header nav #hamburger-menu .mobile-menu li {
  list-style: none;
  text-align: center;
}
header nav #hamburger-menu .mobile-menu li .login-button {
  border-color: #FF4C30;
  border-width: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: #FF4C30 0px 0px 3px 3px;
}
header nav #hamburger-menu .mobile-menu li a {
  color: #0c0c0c;
  font-size: 1.6rem;
}

@media screen and (max-width: 980px) {
  nav .navbar-center, nav .navbar-end {
    display: none !important;
  }
  nav #hamburger-menu {
    display: block !important;
  }
}
footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  height: -moz-max-content;
  height: max-content;
  background-color: #DADADA;
  flex-direction: row;
  padding: 30px 40px;
}
footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer div .title {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  width: 100%;
}
footer div .title .brand-image {
  width: auto;
}
footer div .brand-data {
  max-width: 400px;
  width: 100%;
}
footer div .data {
  list-style-type: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer div .data a {
  text-decoration: none;
  color: #0c0c0c;
}
footer div .data a:hover {
  color: #FF4C30;
}
footer div .phone-number, footer div .email {
  font-size: 1rem;
  color: #0c0c0c;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer div .phone-number .fa-phone-volume, footer div .phone-number .fa-envelope, footer div .email .fa-phone-volume, footer div .email .fa-envelope {
  color: #FF4C30;
}
footer div .phone-number:hover, footer div .email:hover {
  color: #FF4C30;
}
footer div #subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer div #subscribe-form #subscribe-email {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
}
footer div #subscribe-form #subscribe-email:focus {
  outline: 2px solid #FF4C30;
}
footer div #subscribe-form #subscribe-submit {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #FF4C30;
  color: #f1f1f1;
  font-size: 1rem;
}
footer div #confirm-message {
  display: none;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #f1f1f1;
  background-color: rgba(255, 76, 48, 0.5490196078);
  padding: 10px;
  border-radius: 5px;
}
footer div .show {
  display: block !important;
}

@media screen and (max-width: 980px) {
  footer {
    flex-direction: column-reverse;
    gap: 30px;
  }
  footer .brand-image {
    width: 100% !important;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #FF4C30;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #DADADA;
  border-radius: 0.2em;
}

::-webkit-scrollbar-thumb {
  background: #FF4C30;
  border-radius: 0.2em;
  border: 2px #252525;
}

::-webkit-scrollbar-thumb:hover {
  background: #147efb;
}

.save-banner-container {
  background-color: #eeeeee;
  height: 100%;
}
.save-banner-container .save-banner {
  background: #2B2B2B;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 50px 5px;
  width: 100%;
}
.save-banner-container .save-banner h1 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  color: #f1f1f1;
}
.save-banner-container .save-banner h3 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #f1f1f1;
}
.save-banner-container .save-banner h3 span {
  color: #FF4C30;
}

span.actual {
  color: #FF4C30;
  animation: popup 2s ease-in-out 0s infinite alternate forwards;
  position: absolute;
}
span.placeholder {
  opacity: 0;
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0px, 0);
  }
  15% {
    transform: scale(1.5);
  }
  25% {
    transform: translate3d(0, 50px, 0);
  }
  50%, 100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes popup {
  from {
    transform: scale3d(1.2, 1.4, 1);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1, 1, 1), translateZ();
  }
}
@keyframes autoHide {
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#banner-title-container {
  width: 100%;
  height: 100%;
  padding: 100px 7%;
  background-image: url("/imgs/top-banner-bg.png");
  background-color: #eeeeee;
  background-position: top;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  display: inline-flex;
}
#banner-title-container .title {
  align-self: stretch;
  color: #FF4C30;
  font-size: 4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}
#banner-title-container .sub-title {
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

body {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

.login-register-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  justify-content: center;
  align-items: center;
}
.login-register-modal .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 9;
  background-color: #f1f1f1;
  padding: 30px;
  box-shadow: 0px 0px 15px 5px #707070;
  border-radius: 5px;
}
.login-register-modal .content-wrapper .popup-title-wrapper {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.login-register-modal .content-wrapper .popup-title-wrapper .title {
  font-size: 1.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  color: #0c0c0c;
}
.login-register-modal .content-wrapper .popup-title-wrapper i:hover {
  font-size: 1.4rem;
  color: #FF4C30;
}
.login-register-modal .content-wrapper .buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.login-register-modal .content-wrapper .buttons-wrapper .modal-element {
  padding: 10px;
  background-color: #DADADA;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.login-register-modal .content-wrapper .buttons-wrapper .modal-element:hover {
  background-color: #d5d5d5;
  cursor: pointer;
}
.login-register-modal .content-wrapper .buttons-wrapper .modal-element.register-btn {
  background-color: #FF4C30;
}
.login-register-modal .content-wrapper .buttons-wrapper .modal-element.register-btn:hover {
  background-color: #e64229;
}

.container {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.container .top-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 20px;
  align-items: center;
  flex: 1;
}
.container .top-wrapper .images-wrapper {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 800px;
  position: relative;
  margin: auto;
  border-radius: 10px;
  border: 2px solid #d5d5d5;
  background-color: #DADADA;
  /* Fading animation */
}
.container .top-wrapper .images-wrapper .image-slideshow {
  display: none;
}
.container .top-wrapper .images-wrapper .image-slideshow img {
  width: 100%;
}
.container .top-wrapper .images-wrapper .prev,
.container .top-wrapper .images-wrapper .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #707070;
}
.container .top-wrapper .images-wrapper .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.container .top-wrapper .images-wrapper .prev:hover,
.container .top-wrapper .images-wrapper .next:hover {
  background-color: #FF4C30;
}
.container .top-wrapper .images-wrapper .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.container .top-wrapper .images-wrapper .active,
.container .top-wrapper .images-wrapper .dot:hover {
  background-color: #717171;
}
.container .top-wrapper .images-wrapper .fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.container .top-wrapper .images-wrapper .dots-container {
  text-align: center;
}
.container .top-wrapper .main-data-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.container .top-wrapper .main-data-wrapper .car-name {
  font-size: 3rem;
  color: #FF4C30;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}
.container .top-wrapper .main-data-wrapper .car-data-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.container .top-wrapper .main-data-wrapper .car-data-wrapper table h3 {
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: black;
}
.container .top-wrapper .main-data-wrapper .car-data-wrapper table tr:nth-child(even) {
  background-color: #DADADA;
}
.container .top-wrapper .main-data-wrapper .car-data-wrapper table tr {
  background-color: #f1f1f1;
  border-bottom: 1px solid black;
}
.container .top-wrapper .main-data-wrapper .car-data-wrapper table td {
  padding: 15px;
}
.container .top-wrapper .main-data-wrapper .car-data-wrapper table .highlight-title {
  font-weight: 500;
}
.container .top-wrapper .main-data-wrapper .car-data-wrapper table .highlight-orange {
  font-weight: 500;
  color: #FF4C30 !important;
}
.container .top-wrapper .main-data-wrapper #book-now-btn {
  padding: 20px;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: #f1f1f1;
  background-color: #FF4C30;
  border-radius: 10px;
  border-color: rgba(255, 76, 48, 0.5490196078);
  box-shadow: 0px 0px 10px 2px #FF4C30;
  cursor: pointer;
}
.container .top-wrapper .main-data-wrapper #book-now-btn:hover {
  background-color: #e64229;
  box-shadow: 0px 0px 5px 2px #FF4C30;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 15px #707070;
}
.main-container .navigation-bar {
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2px;
}
.main-container .navigation-bar a {
  border-radius: 5px;
  background-color: #DADADA;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding: 20px;
  cursor: pointer;
}
.main-container .navigation-bar a:hover {
  background-color: rgba(255, 76, 48, 0.5490196078);
}
.main-container .navigation-bar a.active {
  background-color: #FF4C30;
  color: #f1f1f1;
}
.main-container .content-wrapper {
  padding: 10px;
}
.main-container .content-wrapper #included-content, .main-container .content-wrapper #extras-content, .main-container .content-wrapper #ratings-content {
  display: none;
}
.main-container .content-wrapper .active {
  display: block;
}
.main-container .content-wrapper #add-review-btn {
  padding: 10px 30px;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  color: #f1f1f1;
  background-color: #FF4C30;
  border-radius: 5px;
  border: 2px solid #ff4c30;
  cursor: pointer;
}
.main-container .content-wrapper ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.main-container .content-wrapper ul li {
  display: flex;
  gap: 10px;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #0c0c0c;
}
.main-container .content-wrapper #ratings-content .review {
  display: flex;
  flex-direction: column;
  background-color: #DADADA;
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
}
.main-container .content-wrapper #ratings-content .review:hover {
  box-shadow: 0px 0px 5px #DADADA;
  cursor: pointer;
}
.main-container .content-wrapper #ratings-content .review .review-top {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.main-container .content-wrapper #ratings-content .review .review-top .review-user-image {
  width: 64px;
}
.main-container .content-wrapper #ratings-content .review .review-top .review-user-image img {
  width: 100%;
}
.main-container .content-wrapper #ratings-content .review .review-top .user-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-container .content-wrapper #ratings-content .review .review-top .user-data h3 {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}
.main-container .content-wrapper #ratings-content .review .review-top .user-data h4 {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}
.main-container .content-wrapper #ratings-content .review .review-message {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

@media screen and (max-width: 900px) {
  .top-wrapper {
    flex-direction: column;
  }
}