@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --background-color: #eeeeee;
  --smokedWhite: #DADADA;
  --smokedWhiteLight: #e0e0e0;
  --smokedWhiteDark: #d5d5d5;
  --black: #0c0c0c;
  --white: #f1f1f1;
  --whiteDark: #f3f3f3;
  --greyLight: #b9b9b9;
  --grey: #707070;
  --greyDark: #2B2B2B;
  --background-color-secondary: #2B2B2B;
}

.dark-theme {
  --background-color: #1f1f1f;
  --smokedWhite: #393939;
  --smokedWhiteLight: #3f3f3f;
  --smokedWhiteDark: #2b2a2a;
  --black: #f1f1f1;
  --white: #1a1a1a;
  --whiteDark: #222222;
  --greyLight: #dfdfdf;
  --grey: #c6c6c6;
  --greyDark: #b8b8b8;
  --background-color-secondary: #f1f1f1;
}

body {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

.underlineText {
  position: relative;
}
.underlineText:hover {
  animation: hoverIcon 0.2s ease-in-out both;
}
.underlineText:hover:before {
  visibility: visible;
  transform: scale(1);
}
.underlineText:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #FF4C30;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

:root {
  --background-color: #eeeeee;
  --smokedWhite: #DADADA;
  --smokedWhiteLight: #e0e0e0;
  --smokedWhiteDark: #d5d5d5;
  --black: #0c0c0c;
  --white: #f1f1f1;
  --whiteDark: #f3f3f3;
  --greyLight: #b9b9b9;
  --grey: #707070;
  --greyDark: #2B2B2B;
  --background-color-secondary: #2B2B2B;
}

.dark-theme {
  --background-color: #1f1f1f;
  --smokedWhite: #393939;
  --smokedWhiteLight: #3f3f3f;
  --smokedWhiteDark: #2b2a2a;
  --black: #f1f1f1;
  --white: #1a1a1a;
  --whiteDark: #222222;
  --greyLight: #dfdfdf;
  --grey: #c6c6c6;
  --greyDark: #b8b8b8;
  --background-color-secondary: #f1f1f1;
}

body {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header nav {
  background-color: var(--smokedWhiteDark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 2;
  /* The container <div> - needed to position the dropdown content */
}
header nav img {
  width: 150px;
}
header nav ul {
  justify-content: center;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
header nav .navbar-item {
  text-decoration: none;
  color: var(--black);
  width: 100%;
  cursor: pointer;
}
header nav .register-button {
  background-color: #FF4C30;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: #FF4C30 0px 0px 10px;
}
header nav .register-button:hover {
  background-color: #e64229;
  box-shadow: 0px 0px 10px 1px #FF4C30;
}
header nav .dropdown {
  position: relative;
  display: inline-block;
  /* Dropdown Content (Hidden by Default) */
  /* Show the dropdown menu on hover */
}
header nav .dropdown .dropbtn {
  background-color: var(--smokedWhiteDark);
  color: var(--black);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding: 16px;
  font-size: 1.2rem !important;
  border: none;
  border-radius: 5px;
}
header nav .dropdown .dropbtn .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header nav .dropdown .dropbtn img {
  width: 42px;
  aspect-ratio: 1/1;
  margin: auto;
  object-fit: cover;
  border: 2px solid var(--smokedWhiteDark);
  border-radius: 50%;
}
header nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  right: 0;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* Links inside the dropdown */
}
header nav .dropdown .dropdown-content a {
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  font-size: 1.2rem !important;
  /* Change color of dropdown links on hover */
}
header nav .dropdown .dropdown-content a:hover {
  background-color: var(--smokedWhite);
}
header nav .dropdown:hover {
  /* Change the background color of the dropdown button when the dropdown content is shown */
}
header nav .dropdown:hover .dropdown-content {
  display: block;
}
header nav .dropdown:hover .dropbtn {
  background-color: #FF4C30;
  color: var(--smokedWhite);
}
header nav #hamburger-menu {
  display: none;
}
header nav #hamburger-menu .bar1,
header nav #hamburger-menu .bar2,
header nav #hamburger-menu .bar3 {
  width: 25px;
  height: 2px;
  background-color: var(--black);
  margin: 6px 0;
  transition: 0.5s;
}
header nav #hamburger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
header nav #hamburger-menu.open .bar2 {
  opacity: 0;
}
header nav #hamburger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, 6px);
  transform: rotate(45deg) translate(-5px, -5px);
}
header nav #hamburger-menu.open .mobile-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
header nav #hamburger-menu .mobile-menu {
  display: none;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 50px 30px;
  background-color: var(--smokedWhiteDark);
  z-index: 999;
  height: 100%;
  position: fixed;
  gap: 40px;
}
header nav #hamburger-menu .mobile-menu .mob-navbar-start {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
header nav #hamburger-menu .mobile-menu .mob-navbar-end {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
header nav #hamburger-menu .mobile-menu li {
  list-style: none;
  text-align: center;
}
header nav #hamburger-menu .mobile-menu li .login-button {
  border-color: #FF4C30;
  border-width: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: #FF4C30 0px 0px 3px 3px;
}
header nav #hamburger-menu .mobile-menu li a {
  color: var(--black);
  font-size: 1.6rem;
}

@media screen and (max-width: 980px) {
  nav .navbar-center,
  nav .navbar-end {
    display: none !important;
  }
  nav #hamburger-menu {
    display: block !important;
  }
}
footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  height: max-content;
  background-color: var(--smokedWhiteDark);
  flex-direction: row;
  padding: 30px 40px;
}
footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer div .title {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  color: var(--black);
  text-transform: uppercase;
  padding: 0;
  width: 100%;
}
footer div .title .brand-image {
  width: auto;
}
footer div .brand-data {
  max-width: 400px;
  width: 100%;
}
footer div .data {
  list-style-type: none;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer div .data a {
  text-decoration: none;
  color: var(--black);
}
footer div .data a:hover {
  color: #FF4C30;
}
footer div .phone-number, footer div .email {
  font-size: 1rem;
  color: var(--black);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer div .phone-number i, footer div .email i {
  color: var(--black);
}
footer div .phone-number:hover, footer div .email:hover {
  color: #FF4C30;
}
footer div .phone-number:hover i, footer div .email:hover i {
  color: #FF4C30;
}
footer div #subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer div #subscribe-form #subscribe-email {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
}
footer div #subscribe-form #subscribe-email:focus {
  outline: 2px solid #FF4C30;
}
footer div #subscribe-form #subscribe-submit {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #FF4C30;
  color: var(--white);
  font-size: 1rem;
}
footer div #subscribe-form #subscribe-submit:hover {
  background-color: #e64229;
  box-shadow: 0px 0px 6px 1px #FF4C30;
}
footer div #confirm-message {
  display: none;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: var(--white);
  background-color: rgba(255, 76, 48, 0.5490196078);
  padding: 10px;
  border-radius: 5px;
}
footer div .show {
  display: block !important;
}

@media screen and (max-width: 980px) {
  footer {
    flex-direction: column-reverse;
    gap: 30px;
  }
  footer .brand-image {
    width: 100% !important;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #FF4C30;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--smokedWhite);
  border-radius: 0.2em;
}

::-webkit-scrollbar-thumb {
  background: #FF4C30;
  border-radius: 0.2em;
  border: 2px #252525;
}

::-webkit-scrollbar-thumb:hover {
  background: #147efb;
}

#faq .faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 0 100px 0;
}
#faq .title-wrapper {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#faq .title-wrapper .sub-title {
  color: var(--black);
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}
#faq .title-wrapper .title {
  color: var(--black);
  font-size: 64px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}
#faq .title-wrapper .description {
  color: var(--grey);
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  text-align: center;
}
#faq .data-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#faq .data-container .faq-data {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--grey) 0px 5px 2px;
  cursor: pointer;
}
#faq .data-container .faq-data .faq-question-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
  background-color: var(--white);
  padding: 20px 20px;
  border-radius: 2px;
  color: var(--black);
  list-style: none;
}
#faq .data-container .faq-data .faq-question-wrapper::-webkit-details-marker {
  display: none;
}
#faq .data-container .faq-data .faq-question-wrapper:hover {
  background-color: var(--smokedWhiteLight);
  box-shadow: 0px 0px 10px 1px var(--smokedWhiteDark);
}
#faq .data-container .faq-data[open] {
  border-width: 2px;
  border-color: #FF4C30;
  border-style: solid;
  box-shadow: 0px 0px 3px #FF4C30 inset, 0px 5px 2px var(--greyDark);
}
#faq .data-container .faq-data[open] .faq-question-wrapper {
  background-color: #FF4C30;
  color: var(--black);
  box-shadow: 0px 0px 16px #FF4C30;
}
#faq .data-container .faq-data[open] .faq-question-wrapper:hover {
  background-color: #e64229;
  box-shadow: 0px 0px 10px 1px #FF4C30;
}
#faq .data-container .faq-data .faq-answer-wrapper {
  padding: 20px 30px;
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--black);
}

@media screen and (max-width: 980px) {
  #faq .data-container {
    width: 100%;
  }
}
.save-banner-container {
  background-color: var(--background-color);
  height: 100%;
}
.save-banner-container .save-banner {
  background: var(--background-color-secondary);
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 50px 5px;
  width: 100%;
}
.save-banner-container .save-banner h1 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--white);
}
.save-banner-container .save-banner h3 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
}
.save-banner-container .save-banner h3 span {
  color: #FF4C30;
}

.call-banner-container {
  background-color: var(--background-color);
  height: 100%;
}
.call-banner-container .call-banner {
  background: var(--background-color-secondary);
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 50px 5px;
  width: 100%;
}
.call-banner-container .call-banner h1 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--white);
}
.call-banner-container .call-banner h3 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
}
.call-banner-container .call-banner h3 span {
  color: #FF4C30;
}

#testimonials .testimonials-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
  display: inline-flex;
}
#testimonials .testimonials-container .title-wrapper {
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  display: flex;
}
#testimonials .testimonials-container .title-wrapper .sub-title {
  color: var(--black);
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}
#testimonials .testimonials-container .title-wrapper .title {
  color: var(--black);
  font-size: 64px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}
#testimonials .testimonials-container .title-wrapper .description {
  width: 1000px;
  text-align: center;
  color: var(--grey);
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  width: 100%;
}
#testimonials .testimonials-container .reviews-container {
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
  display: inline-flex;
  height: 100%;
  width: 100%;
}
#testimonials .testimonials-container .reviews-container .review-wrapper {
  width: 100%;
  height: 100%;
  min-height: 380px;
  padding: 40px;
  background: var(--white);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  display: inline-flex;
  cursor: default;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-message {
  align-self: stretch;
  color: var(--black);
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left {
  width: 70%;
  align-items: flex-start;
  gap: 5px;
  display: flex;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left .review-user-img {
  width: 70px;
  height: 70px;
  border-radius: 66px;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left .review-user-name-wrapper {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  display: inline-flex;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left .review-user-name-wrapper .review-user-name {
  color: var(--black);
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left .review-user-name-wrapper .review-user-location {
  color: var(--black);
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left .review-data-right {
  width: 20%;
  position: relative;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left .review-data-right .review-icon {
  width: 100%;
}

@media screen and (max-width: 980px) {
  #testimonials .title-wrapper {
    text-align: center;
  }
  #testimonials .title-wrapper .title {
    font-size: 3.8rem !important;
  }
  #testimonials .reviews-container {
    flex-direction: column;
  }
}
#plans-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  display: inline-flex;
}
#plans-container .plans-container-title {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
  text-align: center;
}
#plans-container .plans-container-title h3 {
  color: var(--black);
  font-size: 36px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}
#plans-container .plans-container-title h1 {
  color: var(--black);
  font-size: 48px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}
#plans-container .data-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 170px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
#plans-container .data-wrapper .plan {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  flex: 1;
}
#plans-container .data-wrapper .plan .plan-img {
  width: 175px;
}
#plans-container .data-wrapper .plan .plan-title {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  display: flex;
  color: var(--black);
  font-size: 36px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center;
}
#plans-container .data-wrapper .plan .plan-description {
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  width: 100%;
  text-align: center;
  color: var(--black);
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

@media screen and (max-width: 980px) {
  #plans-container .data-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  #plans-container .data-wrapper .plan {
    width: 60%;
  }
  #plans-container .data-wrapper .plan .plan-img {
    width: 250px;
  }
}
span.actual {
  color: #FF4C30;
  animation: popup 2s ease-in-out 0s infinite alternate forwards;
  position: absolute;
}
span.placeholder {
  opacity: 0;
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0px, 0);
  }
  15% {
    transform: scale(1.5);
  }
  25% {
    transform: translate3d(0, 50px, 0);
  }
  50%, 100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes popup {
  from {
    transform: scale3d(1.2, 1.4, 1);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1, 1, 1), translateZ();
  }
}
@keyframes autoHide {
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#banner-title-container {
  width: 100%;
  height: 100%;
  padding: 100px 7%;
  background-image: url("/imgs/top-banner-bg.png");
  background-color: var(--background-color);
  background-position: top;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  display: inline-flex;
}
#banner-title-container .title {
  align-self: stretch;
  color: #FF4C30;
  font-size: 4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}
#banner-title-container .sub-title {
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  color: var(--black);
}

.error-wrapper {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 3;
}
.error-wrapper #error {
  display: none;
  padding: 20px 50px;
  position: relative;
  left: -50%;
  border: 2px solid #FF4C30;
  font-size: 1.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
  background-color: rgba(255, 76, 48, 0.5490196078);
  border-radius: 5px;
}
.error-wrapper .error {
  display: block !important;
  animation: autoHide 10s linear;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #FF4C30;
}

.data-wrapper {
  display: flex;
  gap: 100px;
  flex-direction: column;
  background-color: var(--background-color);
}

.main-data {
  padding: 0 7%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

#contact-us-container {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
}
#contact-us-container .data-wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 100px;
}
#contact-us-container .data-wrapper .left-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
  width: 100%;
}
#contact-us-container .data-wrapper .left-wrapper .sub-title {
  color: #FF4C30;
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}
#contact-us-container .data-wrapper .left-wrapper .title {
  width: 100%;
  color: var(--black);
  font-size: 3rem;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}
#contact-us-container .data-wrapper .left-wrapper .description {
  align-self: stretch;
  color: var(--black);
  font-size: 1.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}
#contact-us-container .data-wrapper .left-wrapper .email, #contact-us-container .data-wrapper .left-wrapper .phone-number {
  color: var(--black);
  text-decoration: none;
  font-size: 1.2rem;
}
#contact-us-container .data-wrapper .left-wrapper .email i, #contact-us-container .data-wrapper .left-wrapper .phone-number i {
  color: #FF4C30;
}
#contact-us-container .data-wrapper .left-wrapper .email:hover, #contact-us-container .data-wrapper .left-wrapper .phone-number:hover {
  color: #FF4C30;
}
#contact-us-container .data-wrapper .right-wrapper {
  width: 100%;
}
#contact-us-container .data-wrapper .right-wrapper #contact-us-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  background-color: var(--smokedWhite);
  padding: 50px;
  border-radius: 20px;
}
#contact-us-container .data-wrapper .right-wrapper #contact-us-form .form-element {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact-us-container .data-wrapper .right-wrapper #contact-us-form .form-element label {
  font-size: 1.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: var(--black);
}
#contact-us-container .data-wrapper .right-wrapper #contact-us-form .form-element span {
  color: #FF4C30;
}
#contact-us-container .data-wrapper .right-wrapper #contact-us-form .form-element input, #contact-us-container .data-wrapper .right-wrapper #contact-us-form .form-element textarea {
  padding: 15px 10px;
  background-color: var(--smokedWhiteDark);
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  color: var(--black);
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
#contact-us-container .data-wrapper .right-wrapper #contact-us-form .form-element input#message, #contact-us-container .data-wrapper .right-wrapper #contact-us-form .form-element textarea#message {
  resize: horizontal;
}
#contact-us-container .data-wrapper .right-wrapper #contact-us-form .form-element input:focus, #contact-us-container .data-wrapper .right-wrapper #contact-us-form .form-element textarea:focus {
  outline: 2px solid #FF4C30;
}
#contact-us-container .data-wrapper .right-wrapper #contact-us-form #submit {
  padding: 10px 0;
  background: #FF4C30;
  box-shadow: 0px 0px 10px #FF4C30;
  border-radius: 10px;
  border-color: transparent;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
#contact-us-container .data-wrapper .right-wrapper #contact-us-form #submit:hover {
  background-color: #e64229;
  box-shadow: 0px 0px 10px 3px #FF4C30;
}

@media screen and (max-width: 1330px) {
  #quick-booking .form-data-title h2 {
    font-size: 1.6rem !important;
  }
}
@media screen and (max-width: 1100px) {
  #quick-booking .form-data-title h2 {
    font-size: 1.2rem !important;
  }
}
@media screen and (max-width: 980px) {
  #landing-page .landing-page-wrapper {
    width: 100%;
    justify-content: space-around;
    flex-direction: column-reverse;
  }
  #landing-page .landing-page-wrapper .landing-page-right {
    display: flex;
    justify-content: center;
  }
  #landing-page .landing-page-wrapper .landing-page-right img {
    width: 80%;
    display: none;
  }
  #quick-booking .form-data {
    flex-direction: column;
  }
  #contact-us-container .data-wrapper {
    flex-direction: column;
    gap: 100px;
  }
  #contact-us-container .data-wrapper .right-wrapper #contact-us-form {
    padding: 20px;
  }
}/*# sourceMappingURL=contact.css.map */