@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #FF4C30;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DADADA;
  border-radius: 0.2em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF4C30;
  border-radius: 0.2em;
  border: 2px #252525;
}

::-webkit-scrollbar-thumb:hover {
  background: #147efb;
}

body {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

header nav {
  background-color: #DADADA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
header nav img {
  width: 150px;
}
header nav ul {
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}
header nav .navbar-item {
  text-decoration: none;
  color: #0c0c0c;
  width: 100%;
}
header nav .register-button {
  background-color: #FF4C30;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: #FF4C30 0px 0px 10px;
}

main {
  min-height: 100vh;
  padding: 0 5%;
  background-color: #eeeeee;
}

.landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100vh;
}
.landing-page .landing-page-left {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
.landing-page .landing-page-left h3 {
  font-size: 2rem;
  margin: 0;
}
.landing-page .landing-page-left h1 {
  font-size: 4rem;
  margin: 0;
}
.landing-page .landing-page-left h1 span {
  color: #FF4C30;
}
.landing-page .landing-page-left p {
  font-size: 1.2rem;
}
.landing-page .landing-page-left .landing-page-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.landing-page .landing-page-left .landing-page-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  width: 150px;
  background-color: #FF4C30;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #0c0c0c;
}
.landing-page .landing-page-left .landing-page-buttons a img {
  width: 16px;
}
.landing-page .landing-page-left .landing-page-buttons .learn-more-button {
  background-color: #0c0c0c !important;
  color: #DADADA;
}
.landing-page .landing-page-right {
  width: 90%;
}
.landing-page .landing-page-right img {
  width: 100%;
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
  height: -moz-max-content;
  height: max-content;
  background-color: #DADADA;
  flex-direction: row;
  padding: 30px 40px;
  gap: 70px;
}
footer div {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer div .title {
  font-size: 1.2rem;
  text-transform: uppercase;
}
footer div .title img {
  width: 100%;
}
footer div .data {
  list-style-type: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer div .data a {
  text-decoration: none;
  color: #0c0c0c;
}
footer div .phone-number {
  font-size: 1rem;
  color: #0c0c0c;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer div .phone-number img {
  background-color: #FF4C30;
  -webkit-mask-image: url("/icons/phone.png");
          mask-image: url("/icons/phone.png");
}
footer div .email {
  font-size: 1rem;
  color: #0c0c0c;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer div .email img {
  background-color: #FF4C30;
  -webkit-mask-image: url("/icons/email.png");
          mask-image: url("/icons/email.png");
}
footer div #subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer div #subscribe-form #subscribe-email {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
}
footer div #subscribe-form #subscribe-submit {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #FF4C30;
  color: #f1f1f1;
  font-size: 1rem;
}/*# sourceMappingURL=home.css.map */