@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

.login-register-model {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9;
  background-color: #d5d5d5;
  padding: 30px;
}