@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

#testimonials .testimonials-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
  display: inline-flex;
}
#testimonials .testimonials-container .title-wrapper {
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  display: flex;
}
#testimonials .testimonials-container .title-wrapper .sub-title {
  color: black;
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}
#testimonials .testimonials-container .title-wrapper .title {
  color: black;
  font-size: 64px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}
#testimonials .testimonials-container .title-wrapper .description {
  width: 1000px;
  text-align: center;
  color: #707070;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  width: 100%;
}
#testimonials .testimonials-container .reviews-container {
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
  display: inline-flex;
  height: 100%;
  width: 100%;
}
#testimonials .testimonials-container .reviews-container .review-wrapper {
  width: 100%;
  height: 100%;
  min-height: 380px;
  padding: 40px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  display: inline-flex;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-message {
  align-self: stretch;
  color: black;
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left {
  width: 70%;
  align-items: flex-start;
  gap: 5px;
  display: flex;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left .review-user-img {
  width: 70px;
  height: 70px;
  border-radius: 66px;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left .review-user-name-wrapper {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  display: inline-flex;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left .review-user-name-wrapper .review-user-name {
  color: black;
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left .review-user-name-wrapper .review-user-location {
  color: black;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left .review-data-right {
  width: 20%;
  position: relative;
}
#testimonials .testimonials-container .reviews-container .review-wrapper .review-data-wrapper .review-data-left .review-data-right .review-icon {
  width: 100%;
}

@media screen and (max-width: 980px) {
  #testimonials .title-wrapper {
    text-align: center;
  }
  #testimonials .title-wrapper .title {
    font-size: 3.8rem !important;
  }
  #testimonials .reviews-container {
    flex-direction: column;
  }
}/*# sourceMappingURL=testimonials.css.map */