<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en">

    <!-- Website Title -->
    <title>Rooobz Cars</title>

    <!-- Icon -->
    <link rel="shortcut icon" href="https://rooobzcars.reubz.io/imgs/logo.png" type="image/x-icon">

    <!-- Primary Tags -->
    <meta name="title" content="Rooobz Cars">
    <meta name="description" content="Best Car Rental Website on the planet">


    <!-- Open Graph / Facebook / Insta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rooobzcars.reubz.io/">
    <meta property="og:title" content="Rooobz Cars">
    <meta property="og:description" content="Best Car Rental Website on the planet">
    <meta property="og:image" itemprop="image" content="https://rooobzcars.reubz.io/imgs/logo-with-text.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://rooobzcars.reubz.io/">
    <meta property="twitter:title" content="Rooobz Cars">
    <meta property="twitter:description" content="Best Car Rental Website on the planet">
    <meta property="twitter:image" content="https://rooobzcars.reubz.io/imgs/logo-with-text.png">

    <!-- For Discord Embeds -->
    <meta content="#FF4C30" data-react-helmet="true" name="theme-color" />

    <link rel="stylesheet" href="/css/home.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Fontawesome Link -->
    <!-- <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">

</head>

<body>
    <header data-include="navbar"></header>

    <section class="main-data-wrapper">
        <section class="main-data-part1">
            <section id="landing-page" class="landing-page">

                <!-- * Main Landing Page Data -->
                <div class="landing-page-wrapper">
                    <!-- * Landing page left side data -->
                    <div class="landing-page-left">
                        <h3>Plan your trip now</h3>
                        <h1> Save <span class="actual">big</span> <span class="placeholder">big</span> with our car
                            rental</h1>
                        <p>Rent the car of your dreams. Unbeatable prices, unlimited kilometeres, flexible pick-up
                            options and much more.</p>
                        <div class="landing-page-buttons">
                            <a href="/vehicles" class="book-now-button">Book Now <i
                                    class="fa-solid fa-circle-check"></i></a>
                            <a href="#choose-us-container" class="learn-more-button">Learn More <i class="fad fa-arrow-up-right-from-square"></i></a>
                        </div>
                    </div>
                    <!-- * Landing page right side image -->
                    <div class="landing-page-right">
                        <img src="/imgs/banner image.png" alt="Car Image">
                    </div>
                </div>


                <!-- * Scroll down Arrow -->
                <div class="arrow">
                    <a href="#quick-booking" class="arrow">
                        <!-- <img src="/icons/Scroll-Down-Arrow.png" alt="Scroll Down Arrow"> -->
                        <i class="fad fa-chevrons-down"></i>
                    </a>
                </div>
            </section>


            <!-- ! Quick Booking Page -->
            <section id="quick-booking">
                <div class="wrapper">
                    <div class="title">
                        <h1>Book a Car</h1>
                    </div>
                    <form action="/vehicles" method="get" class="form-data">
                        <div class="form-left form-column">
                            <div class="data-wrapper">
                                <div class="form-data-title">
                                    <h2>Select your Car Type <span>*</span></h2>
                                </div>
                                <select class="dropdown" name="type" id="car-type">
                                    <option value="placeholder" class="placeholder-text">Select a Car Type</option>
                                    <option value="sedan">Sedan</option>
                                    <option value="coupe">Coupe</option>
                                    <option value="suv">SUV</option>
                                    <option value="wagon">Wagon</option>
                                    <option value="hatchback">Hatchback</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-center form-column">
                            <div class="data-wrapper">
                                <div class="form-data-title">
                                    <h2>Select your Car Brand <span>*</span></h2>
                                </div>
                                <select class="dropdown" name="brand" id="car-brand">
                                    <option value="placeholder" class="placeholder-text">Select a Car Brand</option>
                                    <% allBrands.forEach((brand)=> { %>
                                        <option value="<%= brand %>">
                                            <%= brand %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="form-right form-column">
                            <button class="search-button" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </section>

            <!-- ! Plans Container  -->
            <section data-include="plans"></section>

        </section>

        <!-- ! Banner -->
        <section data-include="save-banner"></section>

        <section class="main-data-part2">
            <!-- ! Why Choose Us Container -->
            <section id="choose-us-container">
                <div class="banner-img-wrapper">
                    <img class="banner-img" src="/imgs/banner-image-2.png" />
                </div>
                <div class="wcu-data">
                    <div class="wcu-wrapper-left">
                        <div class="sub-title">Why Choose Us</div>
                        <div class="title">Best valued deals you will ever find</div>
                        <div class="description">Discover the best deals you'll ever find with our unbeatable offers.
                            We're dedicated to providing you with the best value for your money, so you can enjoy
                            top-quality services and products without breaking the bank. Our deals are designed to give
                            you the ultimate renting experience, so don't miss out on your chance to save big.</div>
                        <a class="booknow-btn" href="/vehicles">
                            <p class="booknow-text">Book Now </p>
                            <i class="fa-solid fa-circle-check"></i></a>
                        </a>
                    </div>
                    <div class="wcu-wrapper-right">
                        <div class="deal">
                            <img class="deal-img" src="/imgs/wcu1.png">
                            <div class="deal-details">
                                <div class="deal-title">Cross Country Drive</div>
                                <div class="deal-description">Take your driving experience to the next level with our
                                    top-notch vehicles for your cross-country adventures.</div>
                            </div>
                        </div>
                        <div class="deal">
                            <img class="deal-img" src="/imgs/wcu2.png">
                            <div class="deal-details">
                                <div class="deal-title">All Inclusive Pricing</div>
                                <div class="deal-description">Get everything you need in one convenient, transparent
                                    price with our all-inclusive pricing policy.</div>
                            </div>
                        </div>
                        <div class="deal">
                            <img class="deal-img" src="/imgs/wcu3.png">
                            <div class="deal-details">
                                <div class="deal-title">No Hidden Charges</div>
                                <div class="deal-description">Enjoy peace of mind with our no hidden charges policy. We
                                    believe in transparent and honest pricing.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ! Testimonials Container -->
            <section data-include="testimonials"></section>


            <!-- ! FAQ -->
            <section data-include="faq"></section>
        </section>
    </section>






    <!-- ! Footer -->
    <footer data-include="footer"></footer>


    <script src="/js/navbar.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/import-html.js"></script>
</body>

</html>