<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooobz Cars</title>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-start">
                <a href="/"><img src="/imgs/logo-with-text-short-alternate.png" alt="Rooobz Cars logo"></a>
            </div>
            
            <div class="navbar-center">
                <ul>
                    <li><a href="/" class="navbar-item">Home</a></li>
                    <li><a href="/about" class="navbar-item">About</a></li>
                    <li><a href="/vehicles" class="navbar-item">Vehicles</a></li>
                    <li><a href="/contact" class="navbar-item">Contact</a></li>
                </ul>
            </div>

            <div class="navbar-end">
                <ul>
                    <li><a href="/signin" class="navbar-item signin-button">Sign In</a></li>
                    <li><a href="/register" class="navbar-item register-button">Register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="main-data">
        <div class="landing-page">
            <div class="landing-page-left">
                <h3>Plan your trip now</h3>
                <h1> Save <span>big</span> with our car rental</h1>
                <p>Rent the car of your dreams. Unbeatable prices, unlimited kilometeres, flexible pick-up options and much more.</p>
                <div class="landing-page-buttons">
                    <a href="/booking" class="book-now-button">Book Now <img src="/icons/Tick.png" alt="Tick Mark"></a>
                    <a href="/learn" class="learn-more-button">Learn More <img src="/icons/Right-Arrow.png" alt="Right Arrow"></a>
                </div>
            </div>
            <div class="landing-page-right">
                <img src="/imgs/banner image.png" alt="">
            </div>
        </div>
    </main>


    <footer>
        <!-- ! 1st Section - Brand Data -->
        <div class="section1">
            <div class="title">
                <img src="/imgs/logo-with-text-long-alternate.png" alt="Logo Text">
            </div>
            <p class="data">
                We are a leading car rental company that offers affordable and reliable services to customers worldwide. We are committed to providing the perfect car to meet your needs
            </p>
            <a href="tel:0123456789" class="phone-number highlight-link">
                <img src="/icons/phone.png" alt="phone"> (+91) 012 345 6789
            </a>
            <a href="mailto:contact@rooobzcars.com" class="email highlight-link">
                <img src="/icons/email.png" alt="email"> contact@rooobzcars.com
            </a>
            
        </div>

        <!-- ! 2nd Section - Quick Links -->
        <div class="section2">
            <h2 class="title">Quick Links</h2>
            <ul class="data">
                <li><a href="/careers">Careers</a></li>
                <li><a href="/how-we-work">How we work</a></li>
                <li><a href="/cars">All Cars</a></li>
                <li><a href="/booking">Book Now</a></li>
            </ul>
        </div>
        <!-- ! 3rd Section - Working Hours -->
        <div class="section3">
            <h2 class="title">Working Hours</h2>           
            <ul class="data">
                <li>Mon - Fri: 9 AM to 7 PM</li>
                <li>Sat: 8 AM to 7 PM</li>
                <li>Sun: Closed</li>
            </ul>
        </div>

        <!-- ! 4th Section - Subscriptions -->
        <div class="section4">
            <h2 class="title">Subscriptions</h2>
            <p class="data">Subscribe your email address for latest news and updates</p>
            <form id="subscribe-form" action="" method="post">
                <input id="subscribe-email" type="email" name="subscription_email" placeholder="Email Address">
                <button id="subscribe-submit" type="submit">Submit</button>
            </form>
        </div>

    </footer>
</body>
</html>