<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="language" content="en">

        <!-- Website Title -->
        <title>About Us - Rooobz Cars</title>

        <!-- Icon -->
        <link rel="shortcut icon" href="https://project.reubz.io/imgs/logo.png" type="image/x-icon">

        <!-- Primary Tags -->
        <meta name="title" content="About Us - Rooobz Cars">
        <meta name="description" content="About Rooobz Cars">
            

        <!-- Open Graph / Facebook / Insta -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://project.reubz.io/about">
        <meta property="og:title" content="About Us - Rooobz Cars">
        <meta property="og:description" content="About Rooobz Cars">
        <meta property="og:image" itemprop="image" content="https://project.reubz.io/imgs/logo-with-text.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://project.reubz.io/about">
        <meta property="twitter:title" content="About Us - Rooobz Cars">
        <meta property="twitter:description" content="About Rooobz Cars">
        <meta property="twitter:image" content="https://project.reubz.io/imgs/logo-with-text.png">

        <!-- For Discord Embeds -->
        <meta content="#FF4C30" data-react-helmet="true" name="theme-color" />
        
        <link rel="stylesheet" href="/css/about.css">

        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        
        <!-- Fontawesome Link -->
        <!-- <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script> -->
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    </head>
<body>
    <header data-include="navbar"></header>

    <section data-include="title-banner?title=About&description=About%20Rooobz%20Cars"></section>

    <section class="data-wrapper">
        <section class="main-data">
            <!-- ! About Us Container -->
            <section id="about-us-container">
                <div class="data-wrapper">
                    <div class="left-wrapper">
                        <!-- <div class="sub-title">Rooobz Cars</div> -->
                        <div class="title">You start the engine and your adventure begins</div>
                        <div class="description">Where Every Journey Begins. Rev up your adventures with Rooobz Cars, your trusted destination for top-notch car rentals. From sleek sedans to rugged SUVs, we offer a fleet that's as diverse as your destinations. Unleash the road warrior in you and let Rooobz Cars fuel your wanderlust!</div>
                        <a href="/vehicles" class="booknow-btn">
                            <div class="booknow-text">Book Now  </div>
                            <img class="booknow-icon" src="/icons/Tick.png">
                        </a>
                    </div>
                    <div class="right-wrapper">
                        <div class="deal">
                            <!-- <img class="deal-img" src="/imgs/wcu1.png"> -->
                            <i class="deal-img fa-duotone fa-cars fa-8x" style="--fa-primary-color: #FF4C30; --fa-secondary-color: #FF4C30;"></i>
                            <div class="deal-details">
                                <div class="deal-title">200</div>
                                <div class="deal-description">Different vehicles</div>
                            </div>
                        </div>
                        <div class="deal">
                            <i class="deal-img fa-duotone fa-garage-car fa-8x" style="--fa-primary-color: #FF4C30; --fa-secondary-color: #FF4C30;"></i>
                            <div class="deal-details">
                                <div class="deal-title">5</div>
                                <div class="deal-description">Rental Outlets across India</div>
                            </div>
                        </div>
                        <div class="deal">
                            <i class="deal-img fa-duotone fa-users fa-8x" style="--fa-primary-color: #FF4C30; --fa-secondary-color: #FF4C30;"></i>
                            <div class="deal-details">
                                <div class="deal-title">12,000+</div>
                                <div class="deal-description">Over 12 thousand customers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> 
            <section id="plans-container" data-include="plans"></section>
            <!-- <section id="testimonials" data-include="testimonials"></section> -->
        </section>
        
        <section data-include="call-banner"></section>
    </section>

    <footer data-include="footer"></footer>
    <!-- ! Javascript -->
    <script src="/js/about.js"></script>
    <script src="/js/import-html.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/footer.js"></script>
</body>
</html>