<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="language" content="en">

        <!-- Website Title -->
        <title>Cancellation Policy - Rooobz Cars</title>

        <!-- Icon -->
        <link rel="shortcut icon" href="https://project.reubz.io/imgs/logo.png" type="image/x-icon">

        <!-- Primary Tags -->
        <meta name="title" content="Cancellation Policy - Rooobz Cars">
        <meta name="description" content="Read our Cancellation Terms and Conditions.">
            

        <!-- Open Graph / Facebook / Insta -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://project.reubz.io/cancellation-policy">
        <meta property="og:title" content="Cancellation Policy - Rooobz Cars">
        <meta property="og:description" content="Read our Cancellation Terms and Conditions.">
        <meta property="og:image" itemprop="image" content="https://project.reubz.io/imgs/logo-with-text.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://project.reubz.io/cancellation-policy">
        <meta property="twitter:title" content="Cancellation Policy - Rooobz Cars">
        <meta property="twitter:description" content="Read our Cancellation Terms and Conditions.">
        <meta property="twitter:image" content="https://project.reubz.io/imgs/logo-with-text.png">

        <!-- For Discord Embeds -->
        <meta content="#FF4C30" data-react-helmet="true" name="theme-color" />
        
        <link rel="stylesheet" href="/css/cancellation-policy.css">

        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        
        <!-- Fontawesome Link -->
        <!-- <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script> -->
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">

    </head>
<body>
    <div data-include="navbar"></div>

    <div data-include="title-banner?title=Cancellation%20Policy&description=Rooobz%20Cars"></div>
    
    
    <section class="container">
        

        <ol>
            <li>
                <h4>Cancellation without Anytime Cancellation Offer:</h4>
                <ul>
                    <li>In case of cancellation without applying the "Anytime Cancellation" Offer during booking, a cancellation fine of 30% of the total booking amount will be applied.</li>
                    <li>The remaining amount will be refunded to the customer within 2 to 10 business days.</li>
                </ul>
            </li>
            <br>
            <li>
                <h4>Anytime Cancellation Offer:</h4>
                <ul>
                    <li>Customers who opt for the "Anytime Cancellation" Offer during the booking process will not incur any cancellation fines, regardless of the time of cancellation.</li>
                    <li>Full booking amount will be refunded to the customer within 2 to 10 business days.</li>
                </ul>
            </li>
            <br>
            <li>
                <h4>Refund Process:</h4>
                <ul>
                    <li>Refunds for cancellations, both with and without the "Anytime Cancellation" Offer, will be processed within 2 to 10 business days from the date of cancellation.</li>
                    <li>Refunds will be credited to the original payment method used during the booking.</li>
                </ul>
            </li>
            <br>
            <li>
                <h4>Contact Information:</h4>
                <ul>
                    <li>For any cancellation-related queries or concerns, customers can contact Rooobz Cars Private LTD customer support.</li>
                    <li>Customer Support Email: <a href="mailto:<%= config.email %>" class="underlineText"><%= config.email %></a></li>
                    <li>Customer Support Phone: <a href="tel:<%= config.phone %>" class="underlineText"><%= config.phone %></a></li>
                </ul>
            </li>
            <br>
            <li>
                <h4>Policy Changes:</h4>
                <ul>
                    <li><span>"Rooobz Cars Private LTD"</span> reserves the right to modify or update the cancellation policy. Customers will be notified in advance of any changes.</li>
                </ul>
            </li>
            <br>
        </ol>
        
        <p>Please note that the "Anytime Cancellation" Offer is the only exception to the standard cancellation policy, and customers are encouraged to carefully review the terms and conditions during the booking process.</p>
    </section>
    
    <div data-include="save-banner"></div>
    
    <div data-include="footer"></div>
    
    <!-- ! Javascript -->
    <script src="/js/navbar.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/import-html.js"></script>
</body> 
</html>  