<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="language" content="en">

        <!-- Website Title -->
        <title>Rooobz Cars</title>

        <!-- Icon -->
        <link rel="shortcut icon" href="https://project.reubz.io/imgs/logo.png" type="image/x-icon">

        <!-- Primary Tags -->
        <meta name="title" content="Rooobz Cars">
        <meta name="description" content="Best Car Rental Website on the planet">
            

        <!-- Open Graph / Facebook / Insta -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://project.reubz.io/">
        <meta property="og:title" content="Rooobz Cars">
        <meta property="og:description" content="Best Car Rental Website on the planet">
        <meta property="og:image" itemprop="image" content="https://project.reubz.io/imgs/logo-with-text.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://project.reubz.io/">
        <meta property="twitter:title" content="Rooobz Cars">
        <meta property="twitter:description" content="Best Car Rental Website on the planet">
        <meta property="twitter:image" content="https://project.reubz.io/imgs/logo-with-text.png">

        <!-- For Discord Embeds -->
        <meta content="#FF4C30" data-react-helmet="true" name="theme-color" />
        
        <link rel="stylesheet" href="/css/terms.css">

        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        
        <!-- Fontawesome Link -->
        <!-- <script src="https://kit.fontawesome.com/4d3f484b6f.js" crossorigin="anonymous"></script> -->
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">

    </head>
<body>
    <div data-include="navbar"></div>

    <div data-include="title-banner?title=Terms%20and%20Conditions&description=Rooobz%20Cars"></div>
    
    
    <section class="container">
        
        <p>Please read these terms and conditions of use carefully before accessing, using or obtaining any materials, information, products or services. By accessing the Rooobz Cars website, or any other feature or other Rooobz Cars platform (collectively, "Our Website"), you agree to be bound by these terms and conditions ("Terms") and our Privacy Policy. If you do not accept all of these Terms, then you may not use Our Website. In these Terms, "we", "us", "our" and "Rooobz Cars" refers to Rooobz Cars Rental Corporation, and "you" and "your" refers to you, the user of Our Website.</p>
        <br>
        <p>THESE TERMS INCLUDE AN ARBITRATION CLAUSE AND A WAIVER OF YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION OR REPRESENTATIVE LAWSUIT.</p>
        <br>
        <p>We may modify these Terms for any reason-at any time-by posting a new version on Our Website; these changes do not affect rights and obligations that arose prior to such changes. Your continued use of Our Website following the posting of modified Terms will be subject to the Terms in effect at the time of your use. Please review these Terms periodically for changes. If you object to any provision of these Terms or any subsequent modifications to these Terms or become dissatisfied with Our Website in any way, your only recourse is to immediately terminate use of Our Website.</p>
        <br>
        <br>
        <h3>1. Booking through Rooobz Cars</h3>
        <br>
        <p>If you make a booking through Our Website for Travel Products, that booking is made with the Travel Provider named on the booking page and Our Website only acts as a user interface. Accordingly, Rooobz Cars has no responsibility for the booking or the Travel Product because Rooobz Cars has no involvement in creating the description of the Travel Product, in defining the price and any fees, or in providing the Travel Products that you book. If you have any issues or disputes with your booking and/or the Travel Product, you agree to address and resolve these with the Travel Provider and not with us.</p>
        <br>
        <h3>2. Use of Our Website</h3>
        <br>
        <p>You may only use and register to become a user of Our Website or Trips if you are of sufficient legal age and can enter into binding contracts. If you become a registered user or make a booking resulting in the creation of a Trips account, you are responsible for maintaining the secrecy of your passwords, login and account information. You will be responsible for all use of Our Website by you, anyone using your password and login information (with or without your permission) and anyone who you allow to access your travel itineraries. All information that you provide to us must be accurate and up-to-date. If any of your information changes, you must immediately update it. If you have reason to believe that your account is no longer secure (e.g., loss, theft or unauthorised disclosure or use of your information or computer or mobile device used to access Our Website), you must promptly change your Personal information that is affected.</p>
        <br>
        <p>If you decide to have messages or other communications from Our Website sent directly to your mobile device, you are solely responsible for keeping us updated with your current phone number, respectively updating to the latest version of the mobile app, and for any charges incurred by receiving such messages. We will not be liable for information sent to a device that is associated with your outdated mobile phone number or using an outdated mobile app. If you install any software or enable any service that stores information from Our Website on any mobile device or computer, it is your responsibility, prior to transfer or disposal of such device, to remove your information or otherwise disable access to such software or service in order to prevent unauthorised access to your information or account.</p>
        <br>
        <p>You may only use Our Website to search for legitimate travel deals; you may not use Our Website to make any false, fraudulent or speculative reservation or any reservation in anticipation of demand. By using Our Website, you agree to comply with laws that apply to India, including laws that apply to exporting technical data.</p>
    </section>
    
    
    <div data-include="footer"></div>
    
    <!-- ! Javascript -->
    <script src="/js/navbar.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/import-html.js"></script>
</body> 
</html>  