// ? Imports
@import "./variables";


.login-register-modal {
    display: none;
    // display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    justify-content: center;
    align-items: center;
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        z-index: 9;
        background-color: $white;
        padding: 30px;
        box-shadow: 0px 0px 15px 5px $grey;
        border-radius: 5px;
        
        .popup-title-wrapper {
            display: flex;
            font-size: 1.4rem;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            .title {
                font-size: 1.4rem;    
                font-family: $rubik;
                font-weight: $semiBold;
                color: $black;
            }
            i {
                color: $black;
                &:hover {
                    font-size: 1.4rem;
                    color: $orange;
                }
            }
        }
        .buttons-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            .modal-element {
                padding: 10px;
                background-color: $smokedWhite;

                border-radius: 5px;

                font-size: 1.2rem;
                font-family: $rubik;
                font-weight: $medium;
                color: $black;
                &:hover {
                    background-color: $smokedWhiteDark;
                    cursor: pointer;
                }
                
                &.register-btn {
                    background-color: $orange;
                    
                    &:hover {
                        background-color: $orangeDark;
                    }
                }
            }
            
        }

    }

    
}