// ? Imports
@import "./variables";

header {
    nav {
        background-color: $smokedWhite;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        img {
            width: 150px;
        }

        ul {
            justify-content: center;
            text-align: center;
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 15px;
            width: 100%;
            font-size: 1rem;
            font-family: $rubik;
            font-weight: $regular;
        }
        
        .navbar-item {
            text-decoration: none;
            color: $black;
            width: 100%;
        }

        .register-button {
            background-color: $orange;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: $orange 0px 0px 10px;
        }

        
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
            .dropbtn {
                background-color: $smokedWhiteDark;
                color: $black;
                font-family: $rubik;
                font-weight: $regular;
                padding: 16px;
                font-size: 16px;
                border: none;
                // width: 200px;
                .wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                }
                
                img {
                    width: 30px;
                    margin:auto;
                }
                
            }
            /* Dropdown Content (Hidden by Default) */
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                // min-width: 160px;
                width: 100%;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;

                /* Links inside the dropdown */
                a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: flex;
                    gap: 10px;
                    justify-content: space-between;
                    
                    /* Change color of dropdown links on hover */
                    &:hover {
                        background-color: #ddd;
                    }
                }
            }
            /* Show the dropdown menu on hover */
            &:hover {
                .dropdown-content {
                    display: block;
                }
                /* Change the background color of the dropdown button when the dropdown content is shown */
                .dropbtn {
                    background-color: $orange;
                    color: $smokedWhite;
                }
            } 
        }
        
        #hamburger-menu {
            display: none;
            .bar1, .bar2, .bar3 {
                width: 25px;
                height: 2px;
                background-color: $black;
                margin: 6px 0;
                transition: 0.5s;
            }

            &.open {
                .bar1 {
                    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
                    transform: rotate(-45deg) translate(-6px, 6px);
                }  
                .bar2 {
                    opacity: 0;
                }
    
                .bar3 {
                    -webkit-transform: rotate(45deg) translate(-6px, 6px);
                    transform: rotate(45deg) translate(-5px, -5px);
                }

                .mobile-menu {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                }
            } 

            .mobile-menu {
                display: none;
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                padding: 50px 30px;
                background-color: $smokedWhite;
                z-index: 999;
                gap: 50px;
                
                .mob-navbar-start {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;
                    flex: 1;
                }
                .mob-navbar-end {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    width: 100%;
                    flex: 1;

                }
                li {
                    list-style: none;
                    text-align: center; 
                    .login-button {
                        border-color: $orange;
                        border-width: 2px;
                        padding: 10px 20px;
                        border-radius: 5px;
                        box-shadow: $orange 0px 0px 3px 3px;
                    }                   
                    a {
                        color: $black;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

// !! 990 PX - Mobile Layout
@media screen and (max-width: 980px) {
    nav {
        .navbar-center, .navbar-end {
            display: none !important;
        }
        #hamburger-menu {
            display: block !important;
        }
    }
}