// ? Imports
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --background-color: #eeeeee;
    --smokedWhite: #DADADA;
    --smokedWhiteLight: #e0e0e0;
    --smokedWhiteDark: #d5d5d5;
    --black: #0c0c0c;
    --white: #f1f1f1;
    --whiteDark: #f3f3f3;
    --greyLight: #b9b9b9;
    --grey: #707070;
    --greyDark: #2B2B2B;
    --background-color-secondary: #2B2B2B;
}
.dark-theme {
    --background-color: #1f1f1f;
    --smokedWhite: #393939;
    --smokedWhiteLight: #3f3f3f;
    --smokedWhiteDark: #2b2a2a;
    --black: #f1f1f1;
    --white: #1a1a1a;
    --whiteDark: #222222;
    --greyLight: #dfdfdf;
    --grey: #c6c6c6;
    --greyDark: #b8b8b8;
    --background-color-secondary: #f1f1f1;
}

// ! Colors
$smokedWhite: var(--smokedWhite);
$smokedWhiteLight: var(--smokedWhiteLight);
$smokedWhiteDark: var(--smokedWhiteDark);
$orange: #FF4C30;
$orangeDark: #e64229;
$orangeFadded: #ff4c308c;
$orangeLight: #ff4c3015;
$black: var(--black);
$white: var(--white);
$whiteDark: var(--whiteDark);
$greyLight: var(--greyLight);
$grey: var(--grey);
$greyDark: var(--greyDark);


$bgColor: var(--background-color);
$bgColorSecondary: var(--background-color-secondary);

// // ! Dark Theme
// .dark-theme {
//     $smokedWhite: #2d2d2d ;
//     $smokedWhiteLight: #2e2e2e;
//     $smokedWhiteDark: #373737;
//     $black: #f1f1f1;
//     $white: #1a1a1a;
//     $whiteDark: #222222;
//     $greyLight: #393939;
//     $grey: #505050;
    
//     $bgColor: #151515 !important;
// }
// ! Font Sizes 
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// ! Font Family
$rubik: "Rubik", sans-serif;

// ! Button Shadow 
$buttonShadow: 0px 10px 15px $orange;

// ! Site Wide Font size and Font Family
body {
    font-size: 62.5%;
    font-family: $rubik;
}