// ? Imports
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

// ! Colors
$smokedWhite: #DADADA;
$orange: #FF4C30;
$black: #0c0c0c;
$white: #f1f1f1;
$grey: #707070;


$bgColor: #eeeeee;
// ! Font Sizes 
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// ! Font Family
$rubik: "Rubik", sans-serif;

// ! Site Wide Font size and Font Family
body {
    font-size: 62.5%;
    font-family: $rubik;
}